.mrx-tab.mrx-tab {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s;

  a {
    color: var(--neutral-text-primary);
    text-decoration: none;
  }
}


