// Размер табов
.mrx-tabs-group.mrx-tabs-group {
  &.mrx-tabs-lg {
    .mrx-tab {
      font-family: var(--body-lg-font-family);
      font-size: var(--body-lg-font-size);
      font-weight: var(--body-lg-font-weight);
      line-height: var(--body-lg-line-height);
    }
  }

  &.mrx-tabs-md {
    .mrx-tab {
      font-family: var(--body-md-font-family);
      font-size: var(--body-md-font-size);
      font-weight: var(--body-md-font-weight);
      line-height: var(--body-md-line-height);
    }
  }

  &.mrx-tabs-sm {
    .mrx-tab {
      font-family: var(--body-sm-font-family);
      font-size: var(--body-sm-font-size);
      font-weight: var(--body-sm-font-weight);
      line-height: var(--body-sm-line-height);
    }
  }
}

.mrx-tabs-button.mrx-tabs-button {
  &.mrx-tabs-lg {
    .mrx-tab {
      padding: var(--spacing-2) var(--spacing-6);
    }
  }

  &.mrx-tabs-md {
    .mrx-tab {
      padding: calc(var(--spacing-2) - var(--spacing-helf)) var(--spacing-4);
    }
  }

  &.mrx-tabs-sm {
    .mrx-tab {
      padding: var(--spacing-1) var(--spacing-3);
    }
  }
}

