<mrx-content-wrapper customClasses="mb-3 p-4">
  <div class="row mb-3">
    <div class="col col-12 col-sm-6 col-md-3 mb-3 mb-lg-0">
      <mrx-label>Large</mrx-label>
      <mrx-loader size="large" color="white"></mrx-loader>
    </div>

    <div class="col col-12 col-sm-6 col-md-3 mb-3 mb-lg-0">
      <mrx-label>Medium</mrx-label>
      <mrx-loader size="medium" color="white"></mrx-loader>
    </div>

    <div class="col col-12 col-sm-6 col-md-3 mb-3 mb-lg-0">
      <mrx-label>Small</mrx-label>
      <mrx-loader size="small" color="white"></mrx-loader>
    </div>

    <div class="col col-12 col-sm-6 col-md-3">
      <mrx-label>Extra small</mrx-label>
      <mrx-loader size="extra-small" color="white"></mrx-loader>
    </div>
  </div>
</mrx-content-wrapper>

<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row mb-3">
    <div class="col col-12 col-sm-6 col-md-3 mb-3 mb-lg-0">
      <mrx-label>Large</mrx-label>
      <mrx-loader size="large"></mrx-loader>
    </div>

    <div class="col col-12 col-sm-6 col-md-3 mb-3 mb-lg-0">
      <mrx-label>Medium</mrx-label>
      <mrx-loader size="medium"></mrx-loader>
    </div>

    <div class="col col-12 col-sm-6 col-md-3 mb-3 mb-lg-0">
      <mrx-label>Small</mrx-label>
      <mrx-loader size="small"></mrx-loader>
    </div>

    <div class="col col-12 col-sm-6 col-md-3">
      <mrx-label>Extra small</mrx-label>
      <mrx-loader size="extra-small"></mrx-loader>
    </div>
  </div>

  <div class="row">
    <div class="col col-12 col-sm-6 col-md-3 mb-3 mb-lg-0">
      <mrx-label>Large brand</mrx-label>
      <mrx-loader size="large" color="brand"></mrx-loader>
    </div>

    <div class="col col-12 col-sm-6 col-md-3 mb-3 mb-lg-0">
      <mrx-label>Medium brand</mrx-label>
      <mrx-loader size="medium" color="brand"></mrx-loader>
    </div>

    <div class="col col-12 col-sm-6 col-md-3 mb-3 mb-lg-0">
      <mrx-label>Small brand</mrx-label>
      <mrx-loader size="small" color="brand"></mrx-loader>
    </div>

    <div class="col col-12 col-sm-6 col-md-3">
      <mrx-label>Extra small brand</mrx-label>
      <mrx-loader size="extra-small" color="brand"></mrx-loader>
    </div>
  </div>
</mrx-content-wrapper>
