.page-sidebar {
  position: sticky;
  top: 0;
  min-width: 280px;
  bottom: 0;
  min-width: 280px;
  width: 280px;
  background: #fff;
  height: 100% !important;
  transition: all 0.2s ease-in-out;
  z-index: 11;


  @media (max-width: 991px) {
    position: fixed;
    left: -100%;
  }

  @media (max-width: 414px) {
    width: 100%;
  }

  &-inner {
    &.sub {
      position: fixed;
      width: 250px !important;
      left: -264px;
      transition: all 0.2s ease-in-out;
      top: 73px;
      bottom: 60px;
      z-index: 2;
      background: #fff;

      &.open {
        left: 0;
      }
    }
  }

  &-menu {
    margin-bottom: 140px;

    .accordion-menu {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        position: relative;
        transition: all 0.3s;

        &.menu-elements,
        &.menu-extras,
        &.menu-others {
          color: var(--Stroke);
          text-transform: uppercase;
          font-size: 12px;

          &:hover {
            border-left: 3px solid transparent !important;
          }
        }

        a,
        >span {
          font-weight: 400;
          display: flex;
          align-items: center;
          padding: 10px 15px;
          padding-left: 12px;
          color: var(--Main1);
          line-height: 16px !important;
          -webkit-font-smoothing: antialiased;
          position: relative;
          cursor: pointer;
          border-left: 4px solid transparent;
          transition: 0.2s;

          *{
            transition: .2s;
          }
          
          &:hover {
            background-color: var(--Bg2);
            * {
              color: var(--Main2);
            }
          }

          &.close-sub-menu {
            color: var(--Main2) !important;
            font-size: 12px;
            position: relative;
            font-weight: bold;
            justify-content: flex-start;

            svg {
              transform: rotate(180deg);

              path{
                stroke: var(--Main2);
              }
            }
          }

          &:link {
            text-decoration: none;
          }

          svg {
            height: 18px;
            margin-right: 8px;
          }

          &.arrow {
            padding-right: 40px;

            &:after {
              content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.99976 6.00012L7.99991 10.0003L12.0001 6.00012' stroke='%23282828' stroke-width='0.999998' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
              position: absolute;
              right: 16px;
              top: 50%;
              transform: translateY(-50%);
              transition: 0.2s;
              line-height: 0;
            }
          }
        }

        a{
          &[href="#"]{
              &:hover {
                  background-color: transparent;
                  
                  * {
                    color: inherit;
                  }
              }
          }                                   
        }

        &.active {
          >a {
            position: relative;
            border-left-color: var(--Main2);
            background-color: var(--Bg2);
          }
        }

        &.open {
          >a {
            &.arrow {
              &:after {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
        }

        &.menu-divider {
          display: block;
          width: 100%;
          height: 1px;
          background-color: rgba(230, 230, 230, 0.5);
          margin: 0;
          display: none;
        }

        .sub-menu {
          display: none;
          padding: 0;

          li {

            .active {
              >a {
                border-left-color: var(--Main2);
              }
            }

            a {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              position: relative;
              padding: 10px 15px;
              padding-left: 20px;

              span {
                display: block;
                font-size: 12px;
                line-height: 16px;
                color: var(--Secondary);
              }
            }

            .small {
              padding-left: 16px;
              padding-top: 0;
            }
          }

          .small {
            padding-left: 43px;
            font-size: 12px;
            color: var(--Stroke) !important;
            margin-top: -10px;
          }
        }
      }
    }
  }

  &-visible {
    .page-sidebar {
      left: 0;
    }
  }

  .sidebar-footer {
    background: #fff;
    border-top: 1px solid var(--Bg1);
    clear: both;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding-left: 30px;
    position: fixed;
    width: 280px;
    min-width: 280px;
    z-index: 1000;
    transition: 0.5s;

    a {
      padding: 17px 10px;
      width: 44px;
      height: 58px;
    }

    svg {
      width: 24px;
      height: 24px;
    }

    @media (max-width: 414px) {
      width: 100%;
    }
  }
}