.page-wrapper.timchenko-theme {
    .footer-wrapper{
        .footer {
            background: var(--Main2);
        }
    } 

    .btn.btn-outline.disabled, 
    .btn.btn-outline [disabled='disabled'], 
    .btn.btn-outline [disabled],
    .btn.btn-outline:disabled{
        background-color: var(--Disabled) !important;
    }

    .selectize-control .selectize-input.disabled{
        background-color: var(--Disabled);
        opacity: 1;
    }

    .key-points__table-hard__body_accordeon_trigger{
        background-color: var(--Disabled);
    }

    .k-grid {
        color: var(--Main1);

        .k-alt{
            color: var(--Main1);
        }

        tbody tr .blue-link{
            color:var(--Main2);
        }
    }

    input[type='range'] {      
        &::-webkit-slider-runnable-track {
          background: var(--neutral-bg-divider);
        }
    }

    .k-grid-header, 
    .k-grid-pager,
    .k-button, 
    .k-button-group .k-button.k-state-disabled:not(.k-state-active), 
    .k-button-group.k-state-disabled .k-button:not(.k-state-active), 
    .k-colorpicker .k-picker-wrap, 
    .k-combobox .k-select, 
    .k-dateinput .k-select, 
    .k-datepicker .k-select, 
    .k-datetimepicker .k-select, 
    .k-dropdown .k-dropdown-wrap, 
    .k-dropdowntree .k-dropdown-wrap, 
    .k-editor-toolbar a.k-tool, 
    .k-fieldselector .k-list li.k-item, 
    .k-gantt-views li, 
    .k-grouping-header .k-group-indicator, 
    .k-handle, 
    .k-list-container .k-nodata .k-button, 
    .k-map .k-navigator, 
    .k-numerictextbox .k-select, 
    .k-pivot-toolbar .k-button, 
    .k-scheduler-footer li, 
    .k-scheduler-navigation .k-nav-next, 
    .k-scheduler-navigation .k-nav-prev, 
    .k-scheduler-navigation .k-nav-today, 
    .k-scheduler-views li, 
    .k-spreadsheet-filter, 
    .k-task-single, 
    .k-timepicker .k-select{
        color: var(--Main1);
    }

    .k-column-menu .k-menu:not(.k-context-menu), 
    .k-menu-group, .k-menu.k-context-menu, 
    .k-popup{
        color: var(--Main1);
    }

    .k-autocomplete,
    .k-combobox .k-dropdown-wrap,
    .k-dateinput .k-dateinput-wrap, 
    .k-datepicker .k-picker-wrap, 
    .k-datetimepicker .k-picker-wrap, 
    .k-input.k-textbox, 
    .k-multiselect-wrap, 
    .k-numerictextbox .k-numeric-wrap, 
    .k-textarea, 
    .k-textbox, 
    .k-timepicker .k-picker-wrap{
        color: var(--Main1);
    }   
} 
