<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row mb-3">
    <div class="col">
      <mrx-label>Default password</mrx-label>
      <mrx-input-password></mrx-input-password>
    </div>
    <div class="col">
      <mrx-label>Default password Click</mrx-label>
      <mrx-input-password></mrx-input-password>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <mrx-label>Default password</mrx-label>
      <mrx-input-password size="medium"></mrx-input-password>
    </div>
    <div class="col">
      <mrx-label>Default password Click</mrx-label>
      <mrx-input-password size="medium"></mrx-input-password>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <mrx-label>Default password</mrx-label>
      <mrx-input-password size="small"></mrx-input-password>
    </div>
    <div class="col">
      <mrx-label>Default password Click</mrx-label>
      <mrx-input-password size="small"></mrx-input-password>
    </div>
  </div>
</mrx-content-wrapper>
