.mrx-hint-error-message {
  font-family: var(--body-sm-font-family);
  font-size: var(--body-sm-font-size);
  font-weight: var(--body-sm-font-weight);
  line-height: var(--body-sm-line-height);
  color: var(--neutral-text-secondary);

  &.mrx-invalid-message {
    color: var(--system-text-negative);
  }
}
