.tabs-underline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  &.small-size {
    .tabs-underline_tabs__item {
      a,
      span {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &_tabs {
    display: flex;
    border-bottom: 1px solid var(--Secondary);

    &__item {
      position: relative;
      padding: 0 16px;
      padding-bottom: 8px;
      display: flex;
      align-items: center;
      cursor: pointer;

      a,
      span {
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        color: initial;
        white-space: nowrap;
        color: var(--Secondary);
      }

      &.active {
        a,
        span {
          color: var(--Main2);
        }

        &:after {
          position: absolute;
          content: '';
          width: 100%;
          left: 0;
          bottom: -1px;
          height: 1px;
          background: var(--Main2);
        }
      }

      @media screen and (max-width:768px) {
        padding-bottom: 14px;

        a,
        span {
          font-size: 14px;
        }
      }
    }
  }

  @media screen and (max-width:768px) {
    justify-content: center;
  }
}