.ui-table {
  overflow-x: auto;

  &.no-radius {
    .ui-table__head {
      border-radius: 0;
    }
  }

  &.color-line {
    .ui-table__body_line {
      border: none;

      &:nth-child(2n) {
        background: var(--Bg1);
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    min-width: 800px;
    background: var(--Bg2);
    border-radius: 4px;
    padding: 5px 0;
    padding-left: 24px;
    min-height: 64px;

    &_item {
      max-width: 100%;
      width: 100%;
      color: var(--Subsidiary);
      padding-right: 10px;
      text-transform: uppercase;
      font-size: 14px;
      display: flex;
      align-items: center;

      &:last-child {
        padding-right: 24px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;

        &.top {
          svg {
            path {
              &.top {
                fill: var(--Subsidiary);
              }
            }
          }
        }

        &.bottom {
          svg {
            path {
              &.bottom {
                fill: var(--Subsidiary);
              }
            }
          }
        }
      }

      .tooltip {
        line-height: 0;
        margin-left: 4px;
      }
    }
  }

  &__body {
    min-width: 800px;

    &_line {
      display: flex;
      border-bottom: 1px solid var(--Stroke);
      padding-left: 24px;
      cursor: default;

      &:last-child {
        border-bottom: none;
      }

      .hovered {
        text-align: center;
        width: 100%;
        cursor: pointer;
      }

      &.accent {
        transition: 0.2s;
      }

      &:hover {
        .accent {
          color: var(--Main2);

          a {
            color: var(--Main2);
          }
        }
      }

      &_item {
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 72px;
        padding: 10px 0;
        padding-right: 10px;
        font-size: 14px;
        line-height: 160%;

        &:last-child {
          padding-right: 24px;
        }

        &.center {
          justify-content: center;
          text-align: center;
        }

        a {
          color: initial;
        }

        span {
          color: var(--Secondary);
        }

      }
    }
  }

  .center {
    justify-content: center;
    text-align: center;

    .hovered {
      justify-content: center;
      text-align: center;
    }
  }

  .right {
    justify-content: flex-end;
    text-align: right;

    .hovered {
      justify-content: flex-end;
      text-align: right;
    }
  }

  .bold {
    font-weight: bold;
  }

  .accent-link {
    a {
      color: var(--Subsidiary);
      text-decoration: none;
    }
  }

  .w-10 {
    max-width: 10%;
  }

  .w-20 {
    max-width: 20%;
  }

  .w-30 {
    max-width: 30%;
  }

  .w-40 {
    max-width: 40%;
  }

  .w-50 {
    max-width: 50%;
  }

  .w-60 {
    max-width: 60%;
  }

  .w-70 {
    max-width: 70%;
  }

  .w-80 {
    max-width: 80%;
  }

  .w-90 {
    max-width: 90%;
  }
}

.notificate {
  display: flex;
  padding: 32px 24px;
  align-items: center;
  font-size: 14px;
  line-height: 140%;
  border-top: 1px solid var(--Stroke);

  .image {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: var(--TooltipBG);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
}