.mrx-input-search.mrx-input-search  {
  &.mrx-input-search-lg {
    input {
      padding: calc(var(--spacing-3) + var(--spacing-helf) - var(--border-width-default)) calc(var(--spacing-16) + var(--spacing-2)) calc(var(--spacing-3) + var(--spacing-helf) - var(--border-width-default)) var(--spacing-4);
      font-family: var(--body-md-font-family);
      font-size: var(--body-md-font-size);
      font-weight: var(--body-md-font-weight);
      line-height: var(--body-md-line-height);
    }
  }

  &.mrx-input-search-md {
    input {
      padding: calc(var(--sizing-2) + var(--spacing-helf) - var(--border-width-default)) calc(var(--spacing-16) - var(--spacing-1) - var(--spacing-helf)) calc(var(--sizing-2) + var(--spacing-helf) - var(--border-width-default)) var(--spacing-4);
      font-family: var(--body-md-font-family);
      font-size: var(--body-md-font-size);
      font-weight: var(--body-md-font-weight);
      line-height: var(--body-md-line-height);
    }
  }

  &.mrx-input-search-sm {
    input {
      padding: calc(var(--sizing-2) - var(--border-width-default)) calc(var(--spacing-16) - var(--spacing-1) - var(--spacing-helf)) calc(var(--sizing-2) - var(--border-width-default)) var(--spacing-4);
      font-family: var(--body-sm-font-family);
      font-size: var(--body-sm-font-size);
      font-weight: var(--body-sm-font-weight);
      line-height: var(--body-sm-line-height);
    }
  }
}
