.mrx-input-search.mrx-input-search {
  .mrx-input-search__icons {
    position: absolute;
    right: var(--spacing-3);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    .mrx-icon {
      will-change: transform;
      cursor: pointer;
      color: var(--neutral-icon-default);
    }
  }
}
