.mrx-input-search.mrx-input-search  {
  &.mrx-input-error {
    input {
      border-color: var(--system-bg-controls-negative-default);
    }
  }

  &.mrx-input-checked-error {
    input {
      border-color: var(--system-bg-controls-negative-default);
      background-color: var(--system-bg-negative-secondary);
    }
  }

  &.mrx-input-checked-success {
    input {
      background-color: var(--system-bg-positive-secondary);
      border-color: var(--system-bg-controls-positive-default);
    }
  }
}
