@font-face {
  font-family: 'mrx-icon-font';
  src:  url('../../Common/Shared/Fonts/mrx-icon-font.eot?gdmeyt');
  src:  url('../../Common/Shared/Fonts/mrx-icon-font.eot?gdmeyt#iefix') format('embedded-opentype'),
  url('../../Common/Shared/Fonts/mrx-icon-font.ttf?gdmeyt') format('truetype'),
  url('../../Common/Shared/Fonts/mrx-icon-font.woff?gdmeyt') format('woff'),
  url('../../Common/Shared/Fonts/mrx-icon-font.svg?gdmeyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
