<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row">
    <div class="col">
      <mrx-controls-wrapper>
        <ng-template #controls>
          <mrx-controls-item>
            <span class="mrx-icon icon-check"></span>
          </mrx-controls-item>
          <mrx-controls-item [separator]="true"></mrx-controls-item>
          <mrx-controls-item>
            <span class="mrx-icon icon-delete"></span>
          </mrx-controls-item>
        </ng-template>

        <mrx-input-textarea></mrx-input-textarea>
      </mrx-controls-wrapper>
    </div>
  </div>
</mrx-content-wrapper>
