.mrx-paginator.mrx-paginator {
  .ng-select .ng-select-container.ng-select-container {
    min-height: 40px !important;
    background-color: #fff;
  }

  .ng-select .ng-arrow-wrapper.ng-arrow-wrapper {
    min-height: 40px !important;
  }

  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value.ng-value {
    white-space: nowrap !important;
  }

  .ng-dropdown-panel.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option {
    white-space: nowrap !important;
  }
}
