.mrx-stepper.mrx-stepper {
  display: flex;
  flex-direction: column;

  .mrx-stepper-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    &-item {
      display: flex;
      align-items: center;
      font-family: var(--body-lg-font-family);
      font-size: var(--body-lg-font-size);
      font-weight: var(--body-lg-font-weight);
      line-height: var(--body-lg-line-height);

      strong {
        font-family: var(--body-lg-bold-font-family);
        font-size: var(--body-lg-bold-font-size);
        font-weight: var(--body-lg-bold-font-weight);
        line-height: var(--body-lg-bold-line-height);
      }
    }      
  }  
}

