.mrx-badge.mrx-badge {
  &.color-positive {
    background-color: var(--system-bg-positive-primary);
    color: var(--neutral-text-primary);

    &.mrx-badge-button, &.mrx-badge-link {
      transition: background-color .2s;

      &:hover {
        background-color: var(--system-bg-positive-primary-hover);
      }
    }
  }
  &.color-negative {
    background-color: var(--system-bg-negative-primary);
    color: var(--neutral-text-primary) !important;

    &.mrx-badge-button, &.mrx-badge-link {
      transition: background-color .2s;

      &:hover {
        background-color: var(--system-bg-negative-primary-hover);
      }
    }
  }
  &.color-attention {
    background-color: var(--system-bg-attention-primary);
    color: var(--neutral-text-primary);

    &.mrx-badge-button, &.mrx-badge-link {
      transition: background-color .2s;

      &:hover {
        background-color: var(--system-bg-attention-primary-hover);
      }
    }
  }
  &.color-neutral {
    background-color: var(--neutral-bg-island-default);
    color: var(--neutral-text-primary);

    &.mrx-badge-button, &.mrx-badge-link {
      transition: background-color .2s;

      &:hover {
        background-color: var(--neutral-bg-island-hover);
      }
    }
  }
  &.color-brand {
    background-color: var(--brand-bg-secondary-default);
    color: var(--brand-text-accent);

    &.mrx-badge-button, &.mrx-badge-link {
      transition: background-color .2s;

      &:hover {
        background-color: var(--brand-bg-secondary-hover);
      }
    }
  }
}
