.mrx-badge.mrx-badge {
  display: block;
  font-family: var(--body-sm-font-famil);
  font-size: var(--body-sm-font-size);
  font-weight: var(--body-sm-font-weight);
  line-height: var(--body-sm-line-height);
}
