.mrx-badge.mrx-badge {
  &.mrx-type-default {
    border-radius: var(--border-radius-1);

    &.mrx-size-default {
      padding: var(--spacing-1) var(--spacing-3);
    }
    &.mrx-size-small {
      padding: 1px var(--spacing-2);
    }
  }

  &.mrx-type-circle {
    border-radius: var(--border-radius-3);
    text-align: center;

    &.mrx-size-default {
      padding: var(--spacing-1) var(--spacing-2);
      min-width: var(--sizing-6);
    }
    &.mrx-size-small {
      padding: var(--sizing-helf) var(--spacing-1);
      min-width: var(--sizing-5);
    }
  }
}
