.page-wrapper.blue-theme.vk {
    .btn {
        font-weight: 500;
    }

    .footer-wrapper  {
        .footer {
            background: var(--brand-bg-tertiary-default);

            &__copyright-text {
                color: var(--neutral-text-primary);
            }

            &__contacts-link {
                color: var(--brand-text-nav-link);

                &_not-decoration {
                    color: var(--brand-text-nav-link);
                }

                &.bold {
                    color: var(--neutral-text-primary);
                }
            }

            &_bottom {
                border-top: 1px solid var(--neutral-bg-stroke-default);
                color: var(--neutral-text-primary);

                &__item {
                    a {
                        color: var(--neutral-text-primary);
                    }
                }
            }
        }
    }
}