.page-wrapper {
  .modal.fade-anim {
    -webkit-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    will-change: opacity;
    opacity: 0;
  }

  .modal.fade-anim.in {
    opacity: 1;
  }
}
