.mrx-dropdown-menu.mrx-dropdown-menu {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 5px 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.175);

  button {
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    color: #282828;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: #282828;
      background-color: #edf5ff;
    }

    svg {
      margin-right: 10px;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
