.mrx-alert.mrx-alert {
  border-radius: var(--border-radius-1);
  padding: var(--spacing-3) var(--spacing-4);
  position: relative;
  color: var(--neutral-text-primary);
  font-family: var(--body-md-font-family);
  font-size: var(--body-md-font-size);
  font-weight: var(--body-md-font-weight);
  line-height: var(--body-md-line-height);

  .mrx-alert-title {
    display: flex;
    align-items: center;
    font-family: var(--body-lg-bold-font-family);
    font-size: var(--body-lg-bold-font-size);
    font-weight: var(--body-lg-bold-font-weight);
    line-height: var(--body-lg-bold-line-height);
  }

  .icon-close {
    position: absolute;
    top: calc(var(--spacing-module) * 2);
    right: calc(var(--spacing-module) * 2);
    cursor: pointer;
  }

  .icon-alert {
    position: absolute;
    top: 13px;
    left: 16px;
  }
}
