.mrx-input-textarea.mrx-input-textarea {
  .mrx-input-textarea__disabled-block {
    min-height: var(--spacing-12);
    background-color: var(--neutral-bg-disabled);
    font-family: var(--body-md-font-family);
    font-size: var(--body-md-font-size);
    font-weight: var(--body-md-font-weight);
    line-height: var(--body-md-line-height);
    color: var(--neutral-text-tertiary);
    padding: calc(var(--spacing-3) + 1px) var(--spacing-4);
    border: var(--border-width-default) solid var(--neutral-bg-stroke-default);
    border-radius: var(--border-radius-1);
    resize: none;
    z-index: 1;
  }
}
