<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row mb-5">
    <div class="col">
      <mrx-label>Type default</mrx-label>
      <mrx-badge-group>
        <mrx-badge>Первый</mrx-badge>
        <mrx-badge>Второй</mrx-badge>
        <mrx-badge>Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Type link</mrx-label>
      <mrx-badge-group>
        <mrx-badge tag="link">Первый</mrx-badge>
        <mrx-badge tag="link">Второй</mrx-badge>
        <mrx-badge tag="link">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Type button</mrx-label>
      <mrx-badge-group>
        <mrx-badge tag="button" (click)="logger()">Первый</mrx-badge>
        <mrx-badge tag="button" (click)="logger()">Второй</mrx-badge>
        <mrx-badge tag="button" (click)="logger()">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <mrx-label>Size default</mrx-label>
      <mrx-badge-group>
        <mrx-badge>Первый</mrx-badge>
        <mrx-badge>Второй</mrx-badge>
        <mrx-badge>Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Size small</mrx-label>
      <mrx-badge-group>
        <mrx-badge size="small">Первый</mrx-badge>
        <mrx-badge size="small">Второй</mrx-badge>
        <mrx-badge size="small">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Size small circle</mrx-label>
      <mrx-badge-group>
        <mrx-badge size="small" type="circle">1</mrx-badge>
        <mrx-badge size="small" type="circle">2</mrx-badge>
        <mrx-badge size="small" type="circle">3</mrx-badge>
      </mrx-badge-group>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <mrx-label>Color positive</mrx-label>
      <mrx-badge-group>
        <mrx-badge color="positive">Первый</mrx-badge>
        <mrx-badge color="positive">Второй</mrx-badge>
        <mrx-badge color="positive">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Color negative</mrx-label>
      <mrx-badge-group>
        <mrx-badge color="negative">Первый</mrx-badge>
        <mrx-badge color="negative">Второй</mrx-badge>
        <mrx-badge color="negative">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Color attention</mrx-label>
      <mrx-badge-group>
        <mrx-badge color="attention">Первый</mrx-badge>
        <mrx-badge color="attention">Второй</mrx-badge>
        <mrx-badge color="attention">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Color neutral</mrx-label>
      <mrx-badge-group>
        <mrx-badge color="neutral">Первый</mrx-badge>
        <mrx-badge color="neutral">Второй</mrx-badge>
        <mrx-badge color="neutral">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Color brand</mrx-label>
      <mrx-badge-group>
        <mrx-badge color="brand">Первый</mrx-badge>
        <mrx-badge color="brand">Второй</mrx-badge>
        <mrx-badge color="brand">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <mrx-label>Color positive</mrx-label>
      <mrx-badge-group>
        <mrx-badge type="circle" color="positive">Первый</mrx-badge>
        <mrx-badge type="circle" color="positive">Второй</mrx-badge>
        <mrx-badge type="circle" color="positive">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Color negative</mrx-label>
      <mrx-badge-group>
        <mrx-badge type="circle" color="negative">1</mrx-badge>
        <mrx-badge type="circle" color="negative">2</mrx-badge>
        <mrx-badge type="circle" color="negative">3</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Type circle</mrx-label>
      <mrx-badge-group>
        <mrx-badge type="circle" color="attention">Первый</mrx-badge>
        <mrx-badge type="circle" color="attention">Второй</mrx-badge>
        <mrx-badge type="circle" color="attention">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Type circle</mrx-label>
      <mrx-badge-group>
        <mrx-badge type="circle" color="neutral">1</mrx-badge>
        <mrx-badge type="circle" color="neutral">2</mrx-badge>
        <mrx-badge type="circle" color="neutral">3</mrx-badge>
      </mrx-badge-group>
    </div>
    <div class="col">
      <mrx-label>Type circle</mrx-label>
      <mrx-badge-group>
        <mrx-badge type="circle" color="brand">1</mrx-badge>
        <mrx-badge type="circle" color="brand">2</mrx-badge>
        <mrx-badge type="circle" color="brand">3</mrx-badge>
      </mrx-badge-group>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <mrx-label>Color custom v1</mrx-label>
      <mrx-badge-group>
        <mrx-badge customColor="#FF0000FF">Первый</mrx-badge>
        <mrx-badge customColor="blue">Второй</mrx-badge>
        <mrx-badge customColor="purple">Третий</mrx-badge>
      </mrx-badge-group>
    </div>
  </div>
</mrx-content-wrapper>
