.mrx-input-select.mrx-input-select  {
  &.mrx-input-error {
    .ng-select .ng-select-container {
      border-color: var(--Red);
    }
  }

  .mrx-input-checked-error {
    &.ng-select .ng-select-container {
      border-color: var(--system-bg-controls-negative-default);
      background-color: var(--system-bg-negative-secondary);

      &:hover {
        border: var(--border-width-default) solid var(--system-bg-controls-negative-default);
      }
    }
  }

  .mrx-input-checked-success {
    &.ng-select .ng-select-container {
      background-color: var(--system-bg-positive-secondary);
      border-color: var(--system-bg-controls-positive-default);

      &:hover {
        border: var(--border-width-default) solid var(--system-bg-controls-positive-default);
      }
    }
  }
}
