.page-wrapper {
  .ng-select {
    .ng-select-container {
      min-height: 48px !important;
      height: auto !important;
      border: 1px solid var(--Stroke);
      border-radius: 4px !important;
      transition: 0.2s;
      z-index: 1;

      &:hover {
        box-shadow: none !important;
      }

      .ng-clear-wrapper {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;

        .ng-clear {
          font-size: 26px;
          color: var(--Main1);
          line-height: 0;
          width: 9px;
          height: 9px;
          font-weight: 100;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          transition: .2s;
        }

        &:hover .ng-clear {
          color: var(--Red);
        }
      }

      .ng-value-container {
        padding-left: 16px !important;
        display: flex;
        align-items: center;
        z-index: 1;

        .ng-placeholder {
          color: var(--Secondary);
        }

        .ng-input {
          padding-left: 16px !important;
          height: 36px;

          >input {
            height: auto;
            padding-top: 14px;
            padding-left: 0;
            border-radius: 0;
            transform: translateY(-5px);
            background-color: transparent !important;
            box-shadow: none !important;
          }
        }
      }
    }

    .ng-arrow-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-height: 46px;
      width: 44px !important;
      z-index: 1;

      .ng-arrow {
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' stroke='%23282828' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        border: none !important;
        width: 10px !important;
        height: 6px !important;
        transition: 0.2s;
      }
    }

    &.ng-select-disabled>.ng-select-container {
      background-color: var(--Disabled);
    }

    &.ng-select-opened>.ng-select-container .ng-arrow {
      top: initial !important;
      transform: rotate(180deg);
    }

    &.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
      box-shadow: none !important;
    }

    &.ng-select-single {
      .ng-select-container {
        .ng-value-container {
          .ng-value {
            white-space: normal !important;
          }
        }
      }
    }

    &.ng-select-multiple {
      .ng-select-container {
        .ng-value-container {
          padding-left: 8px !important;
          padding-top: 6px !important;

          .ng-input {
            padding-left: 8px !important;
            padding: 0 0 0px 3px !important;

            input {
              transform: translateY(-10px) !important;
              padding-top: 16px;
            }
          }

          .ng-value {
            background: var(--Bg2);
            border-radius: 4px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            min-height: 32px;
            padding: 8px 12px;
            position: relative;
            padding-right: 32px;
            max-width: 93%;
            margin-right: 8px;
            margin-bottom: 8px;

            .ng-value-icon {
              border: none !important;
              position: absolute;
              right: 0;
              font-size: 13px;
              color: transparent;

              &::after{
                content: '\2715';
                position: absolute;
                top: 0;
                width: 16px;
                height: 16px;
                right: 12px;
                color: var(--Subsidiary);
                display: flex;
                justify-content: center;
              }

              &:hover {
                background-color: transparent !important;
              }
            }

            .ng-value-label {
              padding: 0;
              color: var(--Subsidiary);
              font-family: 'PT Sans', sans-serif;
              font-size: 12px;
              line-height: 16px;
              overflow: hidden;
            }
          }

          .ng-placeholder {
            top: 13px !important;
            padding-left: 8px !important;
          }
        }
      }

      &.ng-select-disabled {
        & > .ng-select-container {
          .ng-value-container {
            .ng-value {
              padding-right: 10px;
              background-color: var(--Bg2);

              .ng-value-icon {
                display: none !important;
              }

              .ng-value-label{
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  ng-dropdown-panel.ng-dropdown-panel {
    background: #fff;
    box-shadow: 0px 4px 10px rgba(58, 58, 58, 0.15);
    border-radius: 4px !important;
    margin-top: 4px !important;
    border: none;

    .ng-dropdown-panel-items {
      border-radius: 4px !important;

      &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: var(--Secondary);
      }

      .ng-option {
        min-height: 40px;
        transition: 0.2s;
        display: flex;
        align-items: center;
        padding: 5px 16px;
        white-space: normal;

        &.ng-option-child {
          padding-left: 24px;
        }

        span {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 160%;
        }

        &.ng-option-marked {
          background: #fff !important;
          color: var(--Main1) !important;
        }

        &.ng-option-selected {
          background: #fff !important;
          position: relative;
          padding-right: 40px;

          &.ng-option-label {
            font-weight: normal !important;
          }

          &:before {
            content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3336 4.6665L6.00032 11.9998L2.66699 8.66649' stroke='%23000' stroke-width='0.999998' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            line-height: 0;
          }
        }

        &:hover {
          background: var(--Bg2) !important;
        }
      }

      .ng-optgroup {
        min-height: 40px;
        transition: 0.2s;
        display: flex;
        align-items: center;
        padding: 5px 16px;
        white-space: normal;
        color: var(--Secondary);
        font-weight: bold;
      }
    }
  }

  ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: var(--Red);
  }
}
