.page-wrapper {
    .custom-file-input {
        .qq-upload-list {
            .qq-download-link.disabled-link {
                pointer-events: none;
                cursor: default;
            }
        }

        .qq-uploader-selector.qq-uploader {
            .qq-upload-button-selector.qq-upload-button {
                border: 1px solid var(--Stroke);
                background: var(--Stroke);
                color: white;

                &-hover {
                    background: var(--Secondary);
                    color: var(--Main1);
                }
            }
        }

        &.disabled {
            .qq-gallery.qq-uploader {
                background: var(--Disabled);
            }

            .qq-uploader-selector.qq-uploader {

                .qq-upload-button-selector.qq-upload-button,
                .qq-upload-delete-selector.qq-upload-delete {
                    display: none;
                }
            }
        }
    }
}