// FILE input

.qq-gallery.qq-uploader {
  overflow: hidden;
  min-height: 102px;
}

.page-wrapper .custom-file-input .qq-uploader-selector.qq-uploader .qq-upload-button-selector.qq-upload-button {
  position: absolute !important;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.qq-gallery.qq-uploader {
  padding: 0px 10px;
  min-height: 100px;
  border: 1.5px dashed var(--Stroke);
  background-color: #fff;
}

.qq-gallery.qq-uploader:before {
  top: 50%;
  transform: translateY(-50%);
  content: 'Перенесите файл с устройства или нажмите на данное поле для добавления файла';
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--Stroke);
  opacity: 1;
}

.qq-gallery .qq-upload-fail .qq-upload-status-text {
  display: none;
}

.qq-gallery .qq-upload-size {
  display: none;
}

.qq-gallery .qq-upload-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: initial;

  li {
    border-radius: 4px;
    background-color: var(--Bg1);
    box-shadow: none !important;
    display: block !important;
    max-width: 360px;
    width: 360px;
    height: 48px;
    padding-right: 33px;
    margin: 0 10px 10px 0 !important;
  }
}

.qq-gallery .qq-upload-retry {
  display: none;
}

.qq-gallery .qq-thumbnail-wrapper {
  overflow: hidden;
  position: absolute;
  height: 48px;
  width: 320px;
  z-index: 1000;
}

.qq-gallery .qq-upload-cancel {
  height: 30px;
  font-size: 20px;
  width: 30px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--Red);
}

.qq-gallery .qq-upload-cancel:hover {
  background-color: transparent;
}

.qq-gallery .qq-upload-file {
  color: var(--Main1);
  font-size: 14px;
  overflow: hidden;
}

.qq-gallery .qq-file-info {
  padding: 18px 6px 4px;

  .qq-file-name {
    width: 100%;
    display: flex;
    align-items: center;

    .qq-edit-filename-icon {
      min-width: 15px;
    }
  }
}

.qq-gallery .qq-upload-delete {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999;
}

.qq-gallery .qq-total-progress-bar-container {
  display: none !important;
}