.form__group-input {
    position: relative;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 4px;
    transition: 0.2s;
    border: 1px solid var(--Stroke);

    @media screen and (max-width: 567px) {
        padding: 8px;
    }

    input,
    label,
    textarea,
    .checkbox-container,
    .checkbox__mark,
    .custom-label-with-tooltip,
    .custom-file-input {
        position: relative;
        z-index: 1;
    }

    .ng-select.ng-select-opened>.ng-select-container {
        z-index: 1 !important;
    }

    .ng-form-file-input {
        position: relative;
        z-index: 1;
        display: block;
    }

    label {
        font-weight: normal;
    }

    .inputbox {
        margin-bottom: 12px;
    }

    .bg {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        opacity: 1;
        border-radius: 4px;
        transition: 0.2s;
        border: 1px solid transparent;
    }

    &.group-error {
        border-color: var(--Red);
            
        input,
        textarea {
          border-color: var(--Red) !important;
          background-color: var(--Warning) !important;
        }
      
        .custom-input-group .select {
          border-color: var(--Red) !important;
          background-color: var(--Warning) !important;
        }
      
        .qq-gallery.qq-uploader,
        .ngx-file-drop__drop-zone,
        .new-custom-file-input__item {
          border-color: var(--Red) !important;
          background-color: var(--Warning) !important;
        }
      
        .ng-select-container {
          border-color: var(--Red) !important;
          background-color: var(--Warning) !important;
        }
      
        .selectize-control.single .selectize-input {
          border-color: var(--Red) !important;
          background-color: var(--Warning) !important;
        }
    }

    &.group-success {
        border-color: var(--Green);

        input,
        textarea {
          border-color: var(--Green) !important;
          background-color: var(--Good) !important;
        }
      
        .custom-input-group .select {
          border-color: var(--Green) !important;
          background-color: var(--Good) !important;
        }
      
        .qq-gallery.qq-uploader,
        .ngx-file-drop__drop-zone,
        .new-custom-file-input__item {
          border-color: var(--Green) !important;
          background-color: var(--Good) !important;
        }
      
        .ng-select-container {
          border-color: var(--Green) !important;
          background-color: var(--Good) !important;
        }
      
        .selectize-control.single .selectize-input {
          border-color: var(--Green) !important;
          background-color: var(--Good) !important;
        }
    }

    &.group-wrapper-error {
        border-color: var(--Red);
    }

    &.group-wrapper-success {
        border-color: var(--Green);
    }

    .delete {
        display: none;
    }

    &.delete {
        .delete {
            cursor: pointer;
            position: absolute;
            top: -12px;
            right: -12px;
            width: 24px;
            height: 24px;
            background: #fff;
            box-shadow: 0px 4px 10px rgba(58, 58, 58, 0.25);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            transition: 0.3s;
            z-index: 3;
            padding: 0;
            opacity: 0;

            @media screen and (max-width: 991px) {
                opacity: 1;
            }

            &:hover {
                background: var(--Red);
                box-shadow: 0px 4px 10px rgba(58, 58, 58, 0.25);

                svg {
                    path {
                        stroke: #fff;
                    }
                }

                +.bg {
                    border-color: var(--Red);
                    z-index: 2;
                }
            }

            &.disabled {
                background: var(--Disabled) !important;

                svg {
                    path {
                        stroke: #fff !important;
                    }
                }
            }
        }

        &:hover {
            .delete {
                opacity: 1;
            }
        }
    }

    &.shadow-bg {
        margin-bottom: 2px !important;
        padding: 0;
        padding-top: 2px !important;
        border: 0;

        &:hover {
            .bg {
                opacity: 1;
            }
        }

        .bg {
            top: -6px;
            bottom: 4px;
            left: -8px;
            right: -8px;
            background: var(--Bg1);
            opacity: 0;
            border-radius: 4px;
            transition: .3s;
            border: 0px solid transparent;
        }

        &.delete {
            .delete {
                top: -18px;
                right: -20px;

                &:hover {
                    +.bg {
                        background: rgba(209, 65, 20, .1);
                    }
                }
            }
        }

        &.lonely-input {

            .inputbox,
            .custom-input-wrapper {
                margin-bottom: 12px;

                @media screen and (max-width: 567px) {
                    margin-bottom: 8px;
                }

            }
        }
    }

    &.lonely-input {
        padding: 0;
        border: 0;

        .inputbox,
        .custom-input-wrapper {
            margin: 0;
        }
    }
}