// Сообщение о сохранении

.field-success:before {
  content: "сохранено";
  color: var(--Green);
  font-weight: 500;
  -moz-animation: cssAnimationContent 0s ease-in 3s forwards;
  -webkit-animation: cssAnimationContent 0s ease-in 3s forwards;
  -o-animation: cssAnimationContent 0s ease-in 3s forwards;
  animation: cssAnimationContent 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.field-success {

  input:not(.chosen-search-input),
  textarea,
  .styledSelect,
  .chosen-container-multi {
    -moz-animation: cssAnimationBorder 0s ease-in 3s forwards;
    -webkit-animation: cssAnimationBorder 0s ease-in 3s forwards;
    -o-animation: cssAnimationBorder 0s ease-in 3s forwards;
    animation: cssAnimationBorder 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@keyframes cssAnimationContent {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@keyframes cssAnimationContentSave {
  from {
    content: "сохранение.";
  }

  50% {
    content: "сохранение..";
  }

  to {
    content: "сохранение...";
  }
}

@-webkit-keyframes cssAnimationContent {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

@keyframes cssAnimationBorder {
  to {
    border: 1px var(--Stroke) solid;
    color: var(--Main1);
  }
}

@-webkit-keyframes cssAnimationBorder {
  to {
    border: 1px var(--Stroke) solid;
    color: var(--Main1);
  }
}

.field-error:before {
  content: "ошибка";
  color: var(--Red);
  font-weight: 500;
}