.mrx-input-datepicker.mrx-input-datepicker {
  .mrx-input-datepicker__icons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;

    &-item {
      cursor: pointer;
    }

    .mrx-icon {
      cursor: pointer;
    }
  }

  &.mrx-input-datepicker-lg {
    .mrx-icon {
      margin-top: calc(var(--spacing-3) - var(--border-width-default));
      margin-right: var(--spacing-3);
    }
  }
  &.mrx-input-datepicker-md {
    .mrx-icon {
      margin-top: calc(var(--spacing-2) - var(--border-width-default));
      margin-right: var(--spacing-3);
    }
  }
  &.mrx-input-datepicker-sm {
    .mrx-icon {
      margin-top: calc(var(--spacing-2) - var(--border-width-default));
      margin-right: var(--spacing-2);
    }
  }
}
