.mrx-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: var(--neutral-icon-default);
  transition: .2s;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mrx-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .path1, .path2, .path3, .path4, .path5 {
    &:before {
      font-family: 'mrx-icon-font' !important;
    }
  }

  &.icon-font-4 {
    font-size: 4px;
  }

  &.icon-font-8 {
    font-size: 8px;
  }

  &.icon-font-12 {
    font-size: 12px;
  }

  &.icon-font-16 {
    font-size: 16px;
  }

  &.icon-font-20 {
    font-size: 20px;
  }

  &.icon-font-24 {
    font-size: 24px;
  }

  &.icon-font-28 {
    font-size: 28px;
  }

  &.icon-font-32 {
    font-size: 32px;
  }

  &.icon-font-36 {
    font-size: 36px;
  }

  &.icon-font-40 {
    font-size: 40px;
  }

  &.icon-font-44 {
    font-size: 44px;
  }

  &.icon-font-48 {
    font-size: 48px;
  }

  &.icon-font-52 {
    font-size: 52px;
  }

  &.icon-font-56 {
    font-size: 56px;
  }

  &.icon-color-red {
    color: var(--system-icon-negative);
  }

  &.icon-color-orange {
    color: var(--system-icon-attention);
  }

  &.icon-color-green {
    color: var(--system-icon-positive);
  }

  &.icon-color-gray {
    color: var(--neutral-icon-info);
  }

  &.icon-color-accent {
    color: var(--brand-text-controls-default);
  }

  &.icon-filled-color {
    &-negative {
      &:before {
        color: var(--system-icon-negative) !important;
      }
    }

    &-positive {
      &:before {
        color: var(--system-icon-positive) !important;
      }
    }

    &-attention {
      &:before {
        color: var(--system-icon-attention) !important;
      }
    }

    &-info {
      &:before {
        color: var(--neutral-icon-info) !important;
      }
    }

    &-accent {
      &:before {
        color: var(--brand-text-accent) !important;
      }
    }
  }

  &.icon-dazzle-filled:before {
    content: "\ea25";
    color: #713dd3;
  }

  &.icon-drop-filled:before {
    content: "\ea26";
    color: #713dd3;
  }

  &.icon-flag-filled:before {
    content: "\ea27";
    color: #713dd3;
  }

  &.icon-moon-filled:before {
    content: "\ea28";
    color: #713dd3;
  }

  &.icon-sun-filled:before {
    content: "\ea2a";
    color: #713dd3;
  }

  &.icon-sunset-filled:before {
    content: "\ea2b";
    color: #713dd3;
  }

  &.icon-master-button:before {
    content: "\ea24";
  }

  &.icon-sun:before {
    content: "\ea22";
  }

  &.icon-moon:before {
    content: "\ea23";
  }

  &.icon-wysiwyg-icons-add-column:before {
    content: "\ea1c";
  }

  &.icon-wysiwyg-icons-add-row:before {
    content: "\ea1d";
  }

  &.icon-wysiwyg-icons-column-merge:before {
    content: "\ea1e";
  }

  &.icon-wysiwyg-icons-column-split:before {
    content: "\ea1f";
  }

  &.icon-wysiwyg-icons-fill-color:before {
    content: "\ea20";
  }

  &.icon-wysiwyg-icons-palette-color:before {
    content: "\ea21";
  }

  &.icon-wysiwyg-icons-code:before {
    content: "\e91b";
  }

  &.icon-wysiwyg-icons-ol:before {
    content: "\e91c";
  }

  &.icon-wysiwyg-icons-padding:before {
    content: "\e9e8";
  }

  &.icon-wysiwyg-icons-text-align-center:before {
    content: "\e9e9";
  }

  &.icon-wysiwyg-icons-text-align-justify:before {
    content: "\e9ea";
  }

  &.icon-wysiwyg-icons-text-align-left:before {
    content: "\ea18";
  }

  &.icon-wysiwyg-icons-text-align-right:before {
    content: "\ea19";
  }

  &.icon-wysiwyg-icons-text-italic:before {
    content: "\ea1a";
  }

  &.icon-wysiwyg-icons-ul:before {
    content: "\ea1b";
  }

  &.icon-wysiwyg-icons-bg-color:before {
    content: "\ea0b";
  }

  &.icon-wysiwyg-icons-comments:before {
    content: "\ea0c";
  }

  &.icon-wysiwyg-icons-font-color:before {
    content: "\ea0d";
  }

  &.icon-wysiwyg-icons-font-family:before {
    content: "\ea0e";
  }

  &.icon-wysiwyg-icons-font-size:before {
    content: "\ea0f";
  }

  &.icon-wysiwyg-icons-line-height:before {
    content: "\ea10";
  }

  &.icon-wysiwyg-icons-media:before {
    content: "\ea11";
  }

  &.icon-wysiwyg-icons-padding-left:before {
    content: "\ea12";
  }

  &.icon-wysiwyg-icons-padding-right:before {
    content: "\ea13";
  }

  &.icon-wysiwyg-icons-paragraph:before {
    content: "\ea14";
  }
  
  &.icon-wysiwyg-icons-strikethrough-text:before {
    content: "\ea15";
  }

  &.icon-wysiwyg-icons-text-bold:before {
    content: "\ea16";
  }

  &.icon-wysiwyg-icons-text-underline:before {
    content: "\ea17";
  }

  &.icon-inoagent:before {
    content: "\ea0a";
  }

  &.icon-electronic-signature:before {
    content: "\ea09";
  }

  &.icon-info-filled:before {
    content: "\ea08";
    color: var(--neutral-icon-info);
  }

  &.icon-arrow-collapse:before {
    content: "\ea04";
  }

  &.icon-arrow-expand:before {
    content: "\ea05";
  }

  &.icon-drag_horizontal:before {
    content: "\ea06";
  }

  &.icon-drag_vertical:before {
    content: "\ea07";
  }

  &.icon-attention-filled:before {
    content: "\ea02";
    color: var(--system-icon-negative);
  }

  &.icon-warning-filled:before {
    content: "\ea03";
    color: var(--system-icon-attention);
  }

  &.icon-positive:before {
    content: "\ea00";
    color: var(--system-icon-positive);
  }

  &.icon-negative:before {
    content: "\ea01";
    color: var(--system-icon-negative);
  }

  &.icon-risk:before {
    content: "\e900";
  }

  &.icon-relevance:before {
    content: "\e9fc";
  }

  &.icon-sticker-note:before {
    content: "\e9fd";
  }

  &.icon-weight:before {
    content: "\e9fe";
  }

  &.icon-sorting-down:before {
    content: "\e9f8";
  }

  &.icon-sorting-up:before {
    content: "\e9f9";
  }

  &.icon-table-view:before {
    content: "\e9fa";
  }

  &.icon-cards-view:before {
    content: "\e9fb";
  }

  &.icon-FA:before {
    content: "\e901";
  }

  &.icon-access:before {
    content: "\e902";
  }

  &.icon-add-strock:before {
    content: "\e903";
  }

  &.icon-add-user:before {
    content: "\e904";
  }

  &.icon-add:before {
    content: "\e905";
  }

  &.icon-addarticle:before {
    content: "\e906";
  }

  &.icon-add-favorite:before {
    content: "\e907";
  }

  &.icon-add-file:before {
    content: "\e908";
  }

  &.icon-addhelp:before {
    content: "\e909";
  }

  &.icon-add-note:before {
    content: "\e90a";
  }

  &.icon-addreputation:before {
    content: "\e90b";
  }

  &.icon-alert:before {
    content: "\e90c";
  }

  &.icon-aligncenter:before {
    content: "\e90d";
  }

  &.icon-alignleft:before {
    content: "\e90e";
  }

  &.icon-amazing:before {
    content: "\e90f";
  }

  &.icon-anti-plagiarism:before {
    content: "\e910";
  }

  &.icon-approve:before {
    content: "\e911";
  }

  &.icon-archive:before {
    content: "\e912";
  }

  &.icon-arrow-down:before {
    content: "\e913";
  }

  &.icon-arrow-left:before {
    content: "\e914";
  }

  &.icon-arrow-right:before {
    content: "\e915";
  }

  &.icon-arrow-up:before {
    content: "\e916";
  }

  &.icon-attach:before {
    content: "\e917";
  }

  &.icon-attention:before {
    content: "\e918";
  }

  &.icon-auto_write:before {
    content: "\e919";
  }

  &.icon-bold:before {
    content: "\e91a";
  }

  &.icon-bold_ru .path1:before {
    content: "\e91b";
    color: transparent;
  }

  &.icon-bold_ru .path2:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(40, 40, 40);
  }

  &.icon-burger:before {
    content: "\e91d";
  }

  &.icon-calculator:before {
    content: "\e91e";
  }

  &.icon-calendar:before {
    content: "\e91f";
  }

  &.icon-cancel:before {
    content: "\e920";
  }

  &.icon-check:before {
    content: "\e921";
  }

  &.icon-check-task:before {
    content: "\e922";
  }

  &.icon-chevron-down:before {
    content: "\e923";
  }

  &.icon-chevron-left:before {
    content: "\e924";
  }

  &.icon-chevron-right:before {
    content: "\e925";
  }

  &.icon-chevron-up:before {
    content: "\e926";
  }

  &.icon-clear:before {
    content: "\e927";
  }

  &.icon-clear_eraser:before {
    content: "\e928";
  }

  &.icon-click:before {
    content: "\e929";
  }

  &.icon-client-project:before {
    content: "\e92a";
  }

  &.icon-close:before {
    content: "\e92b";
  }

  &.icon-close_lock:before {
    content: "\e92c";
  }

  &.icon-code:before {
    content: "\e92d";
  }

  &.icon-comment:before {
    content: "\e92e";
  }

  &.icon-commenthide:before {
    content: "\e92f";
  }

  &.icon-comment-hide:before {
    content: "\e930";
  }

  &.icon-commentregistration:before {
    content: "\e931";
  }

  &.icon-commentshow:before {
    content: "\e932";
  }

  &.icon-comment-show:before {
    content: "\e933";
  }

  &.icon-contacts:before {
    content: "\e934";
  }

  &.icon-copy:before {
    content: "\e935";
  }

  &.icon-creator:before {
    content: "\e936";
  }

  &.icon-crop:before {
    content: "\e937";
  }

  &.icon-crossed-out_ru .path1:before {
    content: "\e938";
    color: transparent;
  }

  &.icon-crossed-out_ru .path2:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(40, 40, 40);
  }

  &.icon-crossed-out_ru .path3:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(40, 40, 40);
  }

  &.icon-crossed-out_ru .path4:before {
    content: "\e93b";
    margin-left: -1em;
    color: rgb(40, 40, 40);
  }

  &.icon-data:before {
    content: "\e93c";
  }

  &.icon-debt:before {
    content: "\e93d";
  }

  &.icon-declinedinvitation:before {
    content: "\e93e";
  }

  &.icon-delete:before {
    content: "\e93f";
    color: var(--system-icon-negative);
  }

  &.icon-deletedit:before {
    content: "\e940";
  }

  &.icon-delethelp:before {
    content: "\e941";
  }

  &.icon-demo:before {
    content: "\e942";
  }

  &.icon-deselectall:before {
    content: "\e943";
  }

  &.icon-diagram:before {
    content: "\e944";
  }

  &.icon-dislike:before {
    content: "\e945";
  }

  &.icon-document:before {
    content: "\e946";
  }

  &.icon-document_export:before {
    content: "\e947";
  }

  &.icon-document-add:before {
    content: "\e948";
  }

  &.icon-download:before {
    content: "\e949";
  }

  &.icon-Dzen:before {
    content: "\e94a";
  }

  &.icon-edit:before {
    content: "\e94b";
  }

  &.icon-edithelp:before {
    content: "\e94c";
  }

  &.icon-editplaceholder:before {
    content: "\e94d";
  }

  &.icon-editquantity:before {
    content: "\e94e";
  }

  &.icon-email:before {
    content: "\e94f";
  }

  &.icon-enter:before {
    content: "\e950";
  }

  &.icon-errorregistration:before {
    content: "\e951";
  }

  &.icon-Event:before {
    content: "\e952";
  }

  &.icon-exit:before {
    content: "\e953";
  }

  &.icon-expand:before {
    content: "\e954";
  }

  &.icon-exper-remove:before {
    content: "\e955";
  }

  &.icon-expiredinvitation:before {
    content: "\e956";
  }

  &.icon-eye:before {
    content: "\e957";
  }

  &.icon-fb:before {
    content: "\e958";
  }

  &.icon-feed:before {
    content: "\e959";
  }

  &.icon-file-filled:before {
    content: "\e95a";
  }

  &.icon-file:before {
    content: "\e95b";
  }

  &.icon-filter-filled:before {
    content: "\e95c";
  }

  &.icon-filter:before {
    content: "\e95d";
  }

  &.icon-folder:before {
    content: "\e95e";
  }

  &.icon-forward:before {
    content: "\e95f";
  }

  &.icon-get:before {
    content: "\e960";
  }

  &.icon-hashtag:before {
    content: "\e961";
  }

  &.icon-heart-filled:before {
    content: "\e962";
  }

  &.icon-heart:before {
    content: "\e963";
  }

  &.icon-help:before {
    content: "\e964";
  }

  &.icon-hide:before {
    content: "\e965";
  }

  &.icon-history:before {
    content: "\e966";
  }

  &.icon-home:before {
    content: "\e967";
  }

  &.icon-image:before {
    content: "\e968";
  }

  &.icon-in-the-end-left:before {
    content: "\e969";
  }

  &.icon-in-the-end-right:before {
    content: "\e96a";
  }

  &.icon-info:before {
    content: "\e96b";
  }

  &.icon-info_book:before {
    content: "\e96c";
  }

  &.icon-info_dialog:before {
    content: "\e96d";
  }

  &.icon-infoforexpert:before {
    content: "\e96e";
  }

  &.icon-instagram:before {
    content: "\e96f";
  }

  &.icon-invisiblearchive:before {
    content: "\e970";
  }

  &.icon-invitationauthor:before {
    content: "\e971";
  }

  &.icon-italic_ru .path1:before {
    content: "\e972";
    color: transparent;
  }

  &.icon-italic_ru .path2:before {
    content: "\e973";
    margin-left: -1em;
    color: rgb(40, 40, 40);
  }

  &.icon-left:before {
    content: "\e974";
  }

  &.icon-left_img_return:before {
    content: "\e975";
  }

  &.icon-left_return_90:before {
    content: "\e976";
  }

  &.icon-like:before {
    content: "\e977";
  }

  &.icon-link:before {
    content: "\e978";
  }

  &.icon-list:before {
    content: "\e979";
  }

  &.icon-location-filled:before {
    content: "\e97a";
  }

  &.icon-location:before {
    content: "\e97b";
  }

  &.icon-loss:before {
    content: "\e97c";
  }

  &.icon-mails:before {
    content: "\e97d";
  }

  &.icon-mailssettings:before {
    content: "\e97e";
  }

  &.icon-megafon:before {
    content: "\e97f";
  }

  &.icon-minus:before {
    content: "\e980";
  }

  &.icon-mobile:before {
    content: "\e981";
  }

  &.icon-moneybox:before {
    content: "\e982";
  }

  &.icon-more-h:before {
    content: "\e983";
  }

  &.icon-more-vertical:before {
    content: "\e984";
  }

  &.icon-move:before {
    content: "\e985";
  }

  &.icon-movedown:before {
    content: "\e986";
  }

  &.icon-movement-documents:before {
    content: "\e987";
  }

  &.icon-moves:before {
    content: "\e988";
  }

  &.icon-navigation:before {
    content: "\e989";
  }

  &.icon-new:before {
    content: "\e98a";
  }

  &.icon-news:before {
    content: "\e98b";
  }

  &.icon-news-1:before {
    content: "\e98c";
  }

  &.icon-note:before {
    content: "\e98d";
  }

  &.icon-notification:before {
    content: "\e98e";
  }

  &.icon-numbers:before {
    content: "\e98f";
  }

  &.icon-ok:before {
    content: "\e990";
  }

  &.icon-on:before {
    content: "\e991";
  }

  &.icon-open:before {
    content: "\e992";
  }

  &.icon-open_lock:before {
    content: "\e993";
  }

  &.icon-pagecontrol:before {
    content: "\e994";
  }

  &.icon-password:before {
    content: "\e995";
  }

  &.icon-pause-filled:before {
    content: "\e996";
  }

  &.icon-pause:before {
    content: "\e997";
  }

  &.icon-pdf_conclusion:before {
    content: "\e998";
  }

  &.icon-pdf_renouncement:before {
    content: "\e999";
  }

  &.icon-pen:before {
    content: "\e99a";
  }

  &.icon-phone:before {
    content: "\e99b";
  }

  &.icon-photo:before {
    content: "\e99c";
  }

  &.icon-pin:before {
    content: "\e99d";
  }

  &.icon-pin-off:before {
    content: "\e99e";
  }

  &.icon-planet:before {
    content: "\e99f";
  }

  &.icon-platform:before {
    content: "\e9a0";
  }

  &.icon-play-filled:before {
    content: "\e9a1";
  }

  &.icon-play:before {
    content: "\e9a2";
  }

  &.icon-plus:before {
    content: "\e9a3";
  }

  &.icon-point:before {
    content: "\e9a4";
  }

  &.icon-preference:before {
    content: "\e9a5";
  }

  &.icon-print:before {
    content: "\e9a6";
  }

  &.icon-progress .path1:before {
    content: "\e9a7";
    color: transparent;
  }

  &.icon-progress .path2:before {
    content: "\e9a8";
    margin-left: -1em;
    color: rgb(159, 159, 159);
  }

  &.icon-progress .path3:before {
    content: "\e9a9";
    margin-left: -1em;
    color: rgb(159, 159, 159);
  }

  &.icon-progress .path4:before {
    content: "\e9aa";
    margin-left: -1em;
    color: rgb(159, 159, 159);
  }

  &.icon-progress .path5:before {
    content: "\e9ab";
    margin-left: -1em;
    color: rgb(159, 159, 159);
  }

  &.icon-project:before {
    content: "\e9ac";
  }

  &.icon-put:before {
    content: "\e9ad";
  }

  &.icon-quantity:before {
    content: "\e9ae";
  }

  &.icon-quote:before {
    content: "\e9af";
  }

  &.icon-read:before {
    content: "\e9b0";
  }

  &.icon-recommendedInformation:before {
    content: "\e9b1";
  }

  &.icon-refresh:before {
    content: "\e9b2";
  }

  &.icon-reload:before {
    content: "\e9b3";
  }

  &.icon-reputation:before {
    content: "\e9b4";
  }

  &.icon-required:before {
    content: "\e9b5";
    color: var(--system-icon-negative);
  }

  &.icon-research:before {
    content: "\e9b6";
  }

  &.icon-return:before {
    content: "\e9b7";
  }

  &.icon-revokedinvitation:before {
    content: "\e9b8";
  }

  &.icon-rewind-left:before {
    content: "\e9b9";
  }

  &.icon-right:before {
    content: "\e9ba";
  }

  &.icon-right_img_return:before {
    content: "\e9bb";
  }

  &.icon-right_return_90:before {
    content: "\e9bc";
  }

  &.icon-rouble:before {
    content: "\e9bd";
  }

  &.icon-rus .path1:before {
    content: "\e9be";
    color: transparent;
  }

  &.icon-rus .path2:before {
    content: "\e9bf";
    margin-left: -1em;
    color: rgb(21, 126, 251);
  }

  &.icon-rus .path3:before {
    content: "\e9c0";
    margin-left: -1em;
    color: rgb(209, 65, 20);
  }

  &.icon-rutube:before {
    content: "\e9c1";
  }

  &.icon-save:before {
    content: "\e9c2";
  }

  &.icon-scroll_down:before {
    content: "\e9c3";
  }

  &.icon-scroll_up:before {
    content: "\e9c4";
  }

  &.icon-search:before {
    content: "\e9c5";
  }

  &.icon-search-success:before {
    content: "\e9c6";
  }

  &.icon-select:before {
    content: "\e9c7";
  }

  &.icon-selectall:before {
    content: "\e9c8";
  }

  &.icon-selectinvert:before {
    content: "\e9c9";
  }

  &.icon-send-filled:before {
    content: "\e9ca";
  }

  &.icon-send:before {
    content: "\e9cb";
  }

  &.icon-send-tilted:before {
    content: "\e9cc";
  }

  &.icon-server-do:before {
    content: "\e9cd";
  }

  &.icon-settings-filled:before {
    content: "\e9ce";
  }

  &.icon-settings:before {
    content: "\e9cf";
  }

  &.icon-share:before {
    content: "\e9d0";
  }

  &.icon-showarchive:before {
    content: "\e9d1";
  }

  &.icon-showedit:before {
    content: "\e9d2";
  }

  &.icon-slider:before {
    content: "\e9d3";
  }

  &.icon-star-filled:before {
    content: "\e9d4";
  }

  &.icon-star:before {
    content: "\e9d5";
  }

  &.icon-stop-filled:before {
    content: "\e9d6";
  }

  &.icon-stop:before {
    content: "\e9d7";
  }

  &.icon-sum:before {
    content: "\e9d8";
  }

  &.icon-sync_profile:before {
    content: "\e9d9";
  }

  &.icon-table:before {
    content: "\e9da";
  }

  &.icon-tag:before {
    content: "\e9db";
  }

  &.icon-telegram:before {
    content: "\e9dc";
  }

  &.icon-text:before {
    content: "\e9dd";
  }

  &.icon-text-italic:before {
    content: "\e9de";
  }

  &.icon-throw_off_password:before {
    content: "\e9df";
  }

  &.icon-tiktok:before {
    content: "\e9e0";
  }

  &.icon-time:before {
    content: "\e9e1";
  }

  &.icon-time-zones:before {
    content: "\e9e2";
  }

  &.icon-translate:before {
    content: "\e9e3";
  }

  &.icon-trophy-filled:before {
    content: "\e9e4";
  }

  &.icon-trophy:before {
    content: "\e9e5";
  }

  &.icon-twitter:before {
    content: "\e9e6";
  }

  &.icon-underline:before {
    content: "\e9e7";
  }

  &.icon-underline_ru .path1:before {
    content: "\e9e8";
    color: transparent;
  }

  &.icon-underline_ru .path2:before {
    content: "\e9e9";
    margin-left: -1em;
    color: rgb(40, 40, 40);
  }

  &.icon-underline_ru .path3:before {
    content: "\e9ea";
    margin-left: -1em;
    color: rgb(40, 40, 40);
  }

  &.icon-upload:before {
    content: "\e9eb";
  }

  &.icon-user:before {
    content: "\e9ec";
  }

  &.icon-verify:before {
    content: "\e9ed";
  }

  &.icon-viber:before {
    content: "\e9ee";
  }

  &.icon-view:before {
    content: "\e9ef";
  }

  &.icon-viewedinvitation:before {
    content: "\e9f0";
  }

  &.icon-vk:before {
    content: "\e9f1";
  }

  &.icon-wait:before {
    content: "\e9f2";
  }

  &.icon-wait_swatch:before {
    content: "\e9f3";
  }

  &.icon-Web:before {
    content: "\e9f4";
  }

  &.icon-whatsapp:before {
    content: "\e9f5";
  }

  &.icon-wikiinfo:before {
    content: "\e9f6";
  }

  &.icon-youtube:before {
    content: "\e9f7";
  }

  &.icon-ZIP:before {
    content: "\e9ff";
  }
}
