.mrx-checkbox.mrx-checkbox {
  &.mrx-checkbox-default:not(.mrx-checkbox-indeterminate) {
    .mrx-checkbox__mark {
      display: block;
      height: var(--sizing-4);
      width: var(--sizing-4);
      min-width: var(--sizing-4);
      border: var(--border-width-checkbox) solid var(--neutral-bg-stroke-default);
      border-radius: var(--border-radius-1);
      //transition: 0.2s;
      position: relative;
      margin-top: 2px;

      .mrx-icon {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
    }

    input[type="checkbox"] {
      &:disabled {
        &:checked {
          cursor: default;

          & + .mrx-checkbox__mark {
            border-color: var(--neutral-control-bg-accent-disabled);
            background: var(--neutral-control-bg-accent-disabled);


            .mrx-icon {
              display: block;
            }
          }
        }
      }
      &:not(:disabled) {
        &:checked {
          & + .mrx-checkbox__mark {
            border-color: var(--brand-bg-primary-default);
            background: var(--brand-bg-primary-default);


            .mrx-icon {
              display: block;
            }
          }
        }
      }
    }

    &.mrx-input-disabled {
      .mrx-checkbox__mark {
        border-color: var(--neutral-control-bg-accent-disabled);
        background: var(--neutral-control-bg-accent-disabled);
      }
    }

    &:hover {
      .mrx-checkbox__mark {
        border-color: var(--neutral-bg-stroke-hover);
      }

      &.mrx-input-disabled {
        input {
          cursor: default;
        }

        .mrx-checkbox__mark {
          border-color: var(--neutral-control-bg-accent-disabled);
          background: var(--neutral-control-bg-accent-disabled);
        }
      }
    }
  }
}
