.mrx-input-phone.mrx-input-phone {
  &-wrapper {
    width: 100%;
  }

  input[type=tel] {
    width: 100%;
    border: 1px solid var(--Stroke);
    outline: none;
    transition: 0.2s;

    &:focus {
      box-shadow: 0px 0px 0px 4px var(--Bg1);
    }
  }

  &.mrx-input-phone__readonly {
    input[type=tel] {
      &:disabled {
        background-color: inherit;
      }
    }
  }
}
