.mrx-input-phone.mrx-input-phone {
  &.mrx-input-phone-lg {
    input[type=tel] {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      border-radius: 4px;
      padding: 13px 16px 13px 52px;
    }
  }

  &.mrx-input-phone-md {
    input[type=tel] {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      border-radius: 4px;
      padding: 9px 12px 9px 52px;
    }
  }

  &.mrx-input-phone-sm {
    input[type=tel] {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      border-radius: 4px;
      padding: 7px 8px 7px 52px;
    }
  }
}
