@import '../../Tokens/typeThemeVK.less';

.page-wrapper.blue-theme.vk * {
  font-family:  'VK Sans Display', sans-serif;

  .note-editing-area {
    * {
      font-family: initial;
    }
  }
}

.VKSansDisplay {
  --body-extra-lg-font-family: @body-extra-lg-font-family;
  --body-extra-lg-font-weight: @body-extra-lg-font-weight;
  --body-extra-lg-line-height: @body-extra-lg-line-height;
  --body-extra-lg-font-size: @body-extra-lg-font-size;
  --body-extra-lg-letter-spacing: @body-extra-lg-letter-spacing;
  --body-extra-lg-paragraph-spacing: @body-extra-lg-paragraph-spacing;
  --body-extra-lg-text-case: @body-extra-lg-text-case;
  --body-extra-lg-text-decoration: @body-extra-lg-text-decoration;
  --body-lg-font-family: @body-lg-font-family;
  --body-lg-font-weight: @body-lg-font-weight;
  --body-lg-line-height: @body-lg-line-height;
  --body-lg-font-size: @body-lg-font-size;
  --body-lg-letter-spacing: @body-lg-letter-spacing;
  --body-lg-paragraph-spacing: @body-lg-paragraph-spacing;
  --body-lg-text-case: @body-lg-text-case;
  --body-lg-text-decoration: @body-lg-text-decoration;
  --body-md-font-family: @body-md-font-family;
  --body-md-font-weight: @body-md-font-weight;
  --body-md-line-height: @body-md-line-height;
  --body-md-font-size: @body-md-font-size;
  --body-md-letter-spacing: @body-md-letter-spacing;
  --body-md-paragraph-spacing: @body-md-paragraph-spacing;
  --body-md-text-case: @body-md-text-case;
  --body-md-text-decoration: @body-md-text-decoration;
  --body-sm-font-family: @body-sm-font-family;
  --body-sm-font-weight: @body-sm-font-weight;
  --body-sm-line-height: @body-sm-line-height;
  --body-sm-font-size: @body-sm-font-size;
  --body-sm-letter-spacing: @body-sm-letter-spacing;
  --body-sm-paragraph-spacing: @body-sm-paragraph-spacing;
  --body-sm-text-case: @body-sm-text-case;
  --body-sm-text-decoration: @body-sm-text-decoration;
  --body-extra-sm-font-family: @body-extra-sm-font-family;
  --body-extra-sm-font-weight: @body-extra-sm-font-weight;
  --body-extra-sm-line-height: @body-extra-sm-line-height;
  --body-extra-sm-font-size: @body-extra-sm-font-size;
  --body-extra-sm-letter-spacing: @body-extra-sm-letter-spacing;
  --body-extra-sm-paragraph-spacing: @body-extra-sm-paragraph-spacing;
  --body-extra-sm-text-case: @body-extra-sm-text-case;
  --body-extra-sm-text-decoration: @body-extra-sm-text-decoration;
  --body-lg-bold-font-family: @body-lg-bold-font-family;
  --body-lg-bold-font-weight: @body-lg-bold-font-weight;
  --body-lg-bold-line-height: @body-lg-bold-line-height;
  --body-lg-bold-font-size: @body-lg-bold-font-size;
  --body-lg-bold-letter-spacing: @body-lg-bold-letter-spacing;
  --body-lg-bold-paragraph-spacing: @body-lg-bold-paragraph-spacing;
  --body-lg-bold-text-case: @body-lg-bold-text-case;
  --body-lg-bold-text-decoration: @body-lg-bold-text-decoration;
  --body-md-bold-font-family: @body-md-bold-font-family;
  --body-md-bold-font-weight: @body-md-bold-font-weight;
  --body-md-bold-line-height: @body-md-bold-line-height;
  --body-md-bold-font-size: @body-md-bold-font-size;
  --body-md-bold-letter-spacing: @body-md-bold-letter-spacing;
  --body-md-bold-paragraph-spacing: @body-md-bold-paragraph-spacing;
  --body-md-bold-text-case: @body-md-bold-text-case;
  --body-md-bold-text-decoration: @body-md-bold-text-decoration;
  --body-sm-bold-font-family: @body-sm-bold-font-family;
  --body-sm-bold-font-weight: @body-sm-bold-font-weight;
  --body-sm-bold-line-height: @body-sm-bold-line-height;
  --body-sm-bold-font-size: @body-sm-bold-font-size;
  --body-sm-bold-letter-spacing: @body-sm-bold-letter-spacing;
  --body-sm-bold-paragraph-spacing: @body-sm-bold-paragraph-spacing;
  --body-sm-bold-text-case: @body-sm-bold-text-case;
  --body-sm-bold-text-decoration: @body-sm-bold-text-decoration;
  --headlines-lvl-1-font-family: @headlines-lvl-1-font-family;
  --headlines-lvl-1-font-weight: @headlines-lvl-1-font-weight;
  --headlines-lvl-1-line-height: @headlines-lvl-1-line-height;
  --headlines-lvl-1-font-size: @headlines-lvl-1-font-size;
  --headlines-lvl-1-letter-spacing: @headlines-lvl-1-letter-spacing;
  --headlines-lvl-1-paragraph-spacing: @headlines-lvl-1-paragraph-spacing;
  --headlines-lvl-1-text-case: @headlines-lvl-1-text-case;
  --headlines-lvl-1-text-decoration: @headlines-lvl-1-text-decoration;
  --headlines-lvl-2-font-family: @headlines-lvl-2-font-family;
  --headlines-lvl-2-font-weight: @headlines-lvl-2-font-weight;
  --headlines-lvl-2-line-height: @headlines-lvl-2-line-height;
  --headlines-lvl-2-font-size: @headlines-lvl-2-font-size;
  --headlines-lvl-2-letter-spacing: @headlines-lvl-2-letter-spacing;
  --headlines-lvl-2-paragraph-spacing: @headlines-lvl-2-paragraph-spacing;
  --headlines-lvl-2-text-case: @headlines-lvl-2-text-case;
  --headlines-lvl-2-text-decoration: @headlines-lvl-2-text-decoration;
  --headlines-lvl-3-font-family: @headlines-lvl-3-font-family;
  --headlines-lvl-3-font-weight: @headlines-lvl-3-font-weight;
  --headlines-lvl-3-line-height: @headlines-lvl-3-line-height;
  --headlines-lvl-3-font-size: @headlines-lvl-3-font-size;
  --headlines-lvl-3-letter-spacing: @headlines-lvl-3-letter-spacing;
  --headlines-lvl-3-paragraph-spacing: @headlines-lvl-3-paragraph-spacing;
  --headlines-lvl-3-text-case: @headlines-lvl-3-text-case;
  --headlines-lvl-3-text-decoration: @headlines-lvl-3-text-decoration;
  --headlines-lvl-4-font-family: @headlines-lvl-4-font-family;
  --headlines-lvl-4-font-weight: @headlines-lvl-4-font-weight;
  --headlines-lvl-4-line-height: @headlines-lvl-4-line-height;
  --headlines-lvl-4-font-size: @headlines-lvl-4-font-size;
  --headlines-lvl-4-letter-spacing: @headlines-lvl-4-letter-spacing;
  --headlines-lvl-4-paragraph-spacing: @headlines-lvl-4-paragraph-spacing;
  --headlines-lvl-4-text-case: @headlines-lvl-4-text-case;
  --headlines-lvl-4-text-decoration: @headlines-lvl-4-text-decoration;
  --headlines-lvl-5-font-family: @headlines-lvl-5-font-family;
  --headlines-lvl-5-font-weight: @headlines-lvl-5-font-weight;
  --headlines-lvl-5-line-height: @headlines-lvl-5-line-height;
  --headlines-lvl-5-font-size: @headlines-lvl-5-font-size;
  --headlines-lvl-5-letter-spacing: @headlines-lvl-5-letter-spacing;
  --headlines-lvl-5-paragraph-spacing: @headlines-lvl-5-paragraph-spacing;
  --headlines-lvl-5-text-case: @headlines-lvl-5-text-case;
  --headlines-lvl-5-text-decoration: @headlines-lvl-5-text-decoration;
  --headlines-lvl-6-font-family: @headlines-lvl-6-font-family;
  --headlines-lvl-6-font-weight: @headlines-lvl-6-font-weight;
  --headlines-lvl-6-line-height: @headlines-lvl-6-line-height;
  --headlines-lvl-6-font-size: @headlines-lvl-6-font-size;
  --headlines-lvl-6-letter-spacing: @headlines-lvl-6-letter-spacing;
  --headlines-lvl-6-paragraph-spacing: @headlines-lvl-6-paragraph-spacing;
  --headlines-lvl-6-text-case: @headlines-lvl-6-text-case;
  --headlines-lvl-6-text-decoration: @headlines-lvl-6-text-decoration;
}