<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row mb-3">
    <div class="col">
      <mrx-input-text [invalid]="true" [invalidMessage]="errorMessage"></mrx-input-text>
    </div>
    <div class="col">
      <mrx-input-text [invalid]="true" [invalidMessage]="errorMessages"></mrx-input-text>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <mrx-input-number [invalid]="true" [invalidMessage]="errorMessage" [maxValue]="20"></mrx-input-number>
    </div>
    <div class="col">
      <mrx-input-number [invalid]="true" [maxValue]="20"></mrx-input-number>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <mrx-input-datepicker [invalid]="true" [invalidMessage]="errorMessage"></mrx-input-datepicker>
    </div>
    <div class="col">
      <mrx-input-datepicker [invalid]="true" [invalidMessage]="errorMessages"></mrx-input-datepicker>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <mrx-input-select [invalid]="true" [invalidMessage]="errorMessage"></mrx-input-select>
    </div>
    <div class="col">
      <mrx-input-select [invalid]="true" [invalidMessage]="errorMessages"></mrx-input-select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <mrx-input-search [invalid]="true" [invalidMessage]="errorMessage"></mrx-input-search>
    </div>
    <div class="col">
      <mrx-input-search [invalid]="true" [invalidMessage]="errorMessages"></mrx-input-search>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <mrx-input-textarea [invalid]="true" [invalidMessage]="errorMessage"></mrx-input-textarea>
    </div>
    <div class="col">
      <mrx-input-textarea [invalid]="true" [invalidMessage]="errorMessages"></mrx-input-textarea>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <mrx-editor [invalid]="true" [invalidMessage]="errorMessage"></mrx-editor>
    </div>
    <div class="col">
      <mrx-editor [invalid]="true" [invalidMessage]="errorMessages"></mrx-editor>
    </div>
  </div>
</mrx-content-wrapper>
