<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row mb-3">
    <div class="col-12">
      <mrx-alert [closable]="true" message="text" title="Внимание">
        <div class="d-flex justify-content-center align-items-center small mt-2">
          Кастомный контент
        </div>
      </mrx-alert>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <mrx-alert [closable]="true" color="danger" message="text" title="Внимание">
        <div class="d-flex justify-content-center align-items-center small mt-2">
          Кастомный контент
        </div>
      </mrx-alert>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 mb-3">
      <mrx-alert [closable]="true" color="info" message="text" title="Внимание"></mrx-alert>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 mb-3">
      <mrx-alert color="success" message="text" title="Внимание"></mrx-alert>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 mb-3">
      <mrx-alert color="warning" message="text" title="Внимание"></mrx-alert>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 mb-3">
      <mrx-alert
        color="warning"
        message="В соответствии с требованиями о безопасности, произошел автоматический выход из вашей учётной записи после 15 минут бездействия. Пожалуйста, войдите повторно, чтобы продолжить работу с системой"
      ></mrx-alert>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 mb-3">
      <mrx-alert>
        <div class="d-flex justify-content-between align-items-center">
          <div>Подайте заявление на заключение о надлежащей реализации проектов для внесения в реестр ИОПУ</div>
          <a href="#" class="text-bold color-accent d-flex align-items-center">Перейти <span class="mrx-icon icon-font-24 icon-arrow-right color-accent ml-1"></span></a>
        </div>
      </mrx-alert>
    </div>
  </div>
</mrx-content-wrapper>
