.page-container {
  // TODO: вырезать при первой возможности
  .breadcrumbs {
    ol li {
      padding-bottom: 0;
      padding-left: 0;

      &:before {
        content: none;
      }
    }
  }

  .cd-breadcrumb,
  .cd-multi-steps {
    padding: 0;
    margin: 0;
  }

  .cd-breadcrumb:after,
  .cd-multi-steps:after {
    content: "";
    display: table;
    clear: both;
  }

  .cd-breadcrumb li,
  .cd-multi-steps li {
    display: inline-block;
    float: left;
    margin: 0.5em 0;
    position: relative;
    padding-right: 30px;
  }

  .cd-breadcrumb li::after,
  .cd-multi-steps li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: var(--Secondary);
  }

  .cd-breadcrumb li:last-of-type::after,
  .cd-multi-steps li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
  }

  .cd-breadcrumb li>*,
  .cd-multi-steps li>* {
    /* single step */
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: var(--Secondary);
  }

  .cd-breadcrumb li.current>*,
  .cd-multi-steps li.current>* {
    /* selected step */
    color: var(--Secondary);
  }

  .no-touch .cd-breadcrumb a:hover,
  .no-touch .cd-multi-steps a:hover {
    /* steps already visited */
    color: var(--Secondary);
  }

  .cd-breadcrumb.custom-separator li::after,
  .cd-multi-steps.custom-separator li::after {
    /* replace the default arrow separator with a custom icon */
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 6 6'%3E%3Cdefs/%3E%3Cpath fill='%238F859F' d='M5.90408 3.23319l-2.1668 2.16686c-.06186.06185-.1443.0958-.2322.0958-.088 0-.17039-.034-.23224-.0958l-.19673-.19678c-.0618-.06176-.09585-.14425-.09585-.2322 0-.0879.03405-.17317.09585-.23492L4.3402 3.46928H.324143C.143072 3.46928 0 3.32753 0 3.14641v-.2782c0-.18112.143072-.33717.324143-.33717H4.35454L3.07616 1.2571c-.0618-.06185-.09585-.14209-.09585-.23004 0-.087856.03405-.16927.09585-.231075l.19673-.196144c.06185-.061853.14424-.09556.23224-.09556.0879 0 .17034.034145.23219.095999l2.16681 2.16681c.062.06205.0961.14488.09585.23293.0002.08834-.03385.17121-.0959.23317z'/%3E%3C/svg%3E");
    height: 16px;
    width: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .cd-breadcrumb.custom-separator {
    &.back {
      li {
        padding-right: 0;
        padding-left: 30px;

        &:after {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 6 6'%3E%3Cdefs/%3E%3Cpath fill='%238F859F' d='M5.90408 3.23319l-2.1668 2.16686c-.06186.06185-.1443.0958-.2322.0958-.088 0-.17039-.034-.23224-.0958l-.19673-.19678c-.0618-.06176-.09585-.14425-.09585-.2322 0-.0879.03405-.17317.09585-.23492L4.3402 3.46928H.324143C.143072 3.46928 0 3.32753 0 3.14641v-.2782c0-.18112.143072-.33717.324143-.33717H4.35454L3.07616 1.2571c-.0618-.06185-.09585-.14209-.09585-.23004 0-.087856.03405-.16927.09585-.231075l.19673-.196144c.06185-.061853.14424-.09556.23224-.09556.0879 0 .17034.034145.23219.095999l2.16681 2.16681c.062.06205.0961.14488.09585.23293.0002.08834-.03385.17121-.0959.23317z'/%3E%3C/svg%3E");
          height: 16px;
          width: 10px;
          position: absolute;
          line-height: 1;
          top: 50%;
          left: 0;
          transform: translateY(-50%) rotate(180deg);
          display: block !important;
        }
      }
    }
  }
}
