.main-section {
  max-width: 1330px;
  padding: 0px 15px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 50px;
  position: relative;

  @media screen and (max-width: 1060px) {
    padding: 0 10px;
    padding-bottom: 30px;
  }

  .side-menu {
    margin-top: 62px;
    will-change: min-height;
    min-width: 150px;

    @media screen and (max-width:1060px) {
      min-width: initial;
    }

    .user-nav {
      transform: translate(0, 0);
      /* For browsers don't support translate3d. */
      transform: translate3d(0, 0, 0);
      will-change: position, transform;

      @media screen and (max-width:1060px) {
        display: none;
        max-width: unset;
        width: 100%;
        position: absolute;
        z-index: 99;
        top: 62px;
      }

      &__item {
        display: flex;
        align-items: center;
        border: solid 1px var(--Stroke);
        border-right: none;
        background-color: #fff;
        width: 150px;
        max-width: 150px;
        padding: 5px 0;
        min-height: 65px;
        padding-left: 16px;
        font-weight: 500;

        &.active {
          background-color: #fff;
          border-left: solid 4px var(--Main2);
          position: relative;
          opacity: 1;
          padding-left: 12px;

          &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            top: 0;
            right: -1px;
            background-color: #fff;
            z-index: 1;
          }
        }

        &__subitem {
          width: 120px;
        }

        &__link {
          color: var(--Main1);
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          text-decoration: none;

          &__name {
            display: inline-block;
            padding-right: 5px;

            p {
              padding-bottom: 0;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              margin: 0;
            }
          }

          &:visited {
            color: var(--Main1);
          }
        }

        @media screen and (max-width:1060px) {
          width: 100%;
          max-width: unset;
          justify-content: center;
          opacity: 1;
          text-align: center;
        }
      }

      &__subitem {
        display: flex;
        align-items: center;
        border: solid 1px var(--Stroke);
        background-color: #fff;
        border-right: none;
        width: 135px;
        max-width: 150px;
        padding: 5px 0;
        min-height: 65px;
        padding-left: 16px;
        font-size: 14px;
        font-weight: 500;
        margin-left: 15px;
        border-top: none;

        @media screen and (max-width:1060px) {
          width: 100%;
          max-width: unset;
          opacity: 1;
        }

        &__link {
          font-size: 16px;
          color: var(--Main1);
          height: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;

          &__name {
            p {
              padding-bottom: 0;
              font-size: 13px;
              font-weight: 400;
              line-height: 1.1;
            }

            .subname {
              font-size: 12px;
            }

            .active {
              color: #b16d12;
            }
          }

          &:visited {
            color: var(--Main1);
          }
        }

        &_point {
          font-size: 12px;
          line-height: 16px;
          display: flex;
          color: #9d9d9d;
          margin-bottom: 2px;
          position: relative;
          margin-left: 3px;

          &.active {
            &:before {
              content: url("data:image/svg+xml,%3Csvg width='4' height='5' viewBox='0 0 4 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 2.5L0.25 4.66506L0.25 0.334936L4 2.5Z' fill='%23CB9C56'/%3E%3C/svg%3E%0A");
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: -7px;
              line-height: 0;
            }

            p {
              font-weight: bold;
            }
          }

          &.gray {
            span {
              color: #808080;
            }
          }

          &.refinement {
            span {
              color: #CB9C56;
            }
          }

          &.accepted {
            span {
              color: var(--Green);
            }
          }

          p {
            line-height: 16px;
            color: #9d9d9d;
            font-size: 11px;
          }
        }

        &.reports {
          .user-nav__item__link {
            font-size: 12px;
            line-height: 1.2;
          }

          .user-nav__item__link__name p {
            font-size: 11px;
          }
        }

        &.active {
          background-color: #fff;
          border-left: solid 4px var(--Main2);
          position: relative;
          opacity: 1;
          padding-left: 12px;

          &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 2px;
            top: 0;
            right: -1px;
            background-color: #fff;
            z-index: 1;
          }
        }
      }
    }
  }

  .main-content {
    width: 100%;

    @media(max-width:1060px) {
      margin: 0 auto;
      width: 100%;
    }

    .header__personal_info_form,
    .section-header-info {
      background: #fff;
      border: 1px solid var(--Stroke);
      border-bottom: none;
      border-radius: 4px 4px 0 0;
      height: 62px;
      padding: 10px;
      display: flex;
      align-items: center;

      @media(max-width:1060px) {
        margin: 0;
      }

      @media(max-width:640px) {
        width: 100%;
        margin: 0;
        text-align: center;
      }

      .header {
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -.4px;
        color: var(--Main1);

        @media(max-width:640px) {
          font-size: 18px;
        }

        @media(max-width:480px) {
          font-size: 16px;
        }
      }
    }

    #navMenu {
      display: none;
    }

    .navMenu {
      &_icon {
        line-height: 1;
        margin-right: 12px;

        svg {
          width: 21px;
          height: 21px;
          margin-left: 10px;
          display: none;

          @media(max-width:1060px) {
            display: unset;
            position: relative;
            top: 2px;
          }

          @media(max-width:640px) {
            width: 21px;
            height: 21px;
            position: relative;
            margin-left: 0;
          }
        }
      }
    }
  }
}

.user-layout {
  background-color: #f7f7f7;
}