header.award-headerV2 {
  width: 100%;
  z-index: 10;
  background: #fff;
  margin-bottom: 30px;

  &.n-margin {
    margin-bottom: 0;

    .header {
      border-bottom: none;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #d4d4d4;

    button.btn.gray {
      border: 1px solid #acacac;
      color: var(--Main1) !important;
      border-radius: 50px;
      font-weight: normal;
      font-size: 18px;
      padding: 2px 20px;
    }

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1440px) {
        width: 130px;

        svg {
          width: auto;
          height: auto;
        }
      }

      @media (max-width: 576px) {
        width: 100px;
      }

      svg {
        path.letter {
          fill: #fff;
        }
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      margin: 0 -75px;

      @media (max-width: 991px) {
        display: none;
      }

      &_mobile {
        display: none;
        z-index: 1;

        @media (max-width: 991px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: fixed;
          left: 0;
          top: 92px;
          width: 100vw;
          height: calc(100vh - 91px);
          background: #fff;
          transform: translateX(-100%);
          transition: 0.2s;

          &.open {
            transform: translateX(0);
          }
        }

        .header-nav {
          display: flex;
          flex-direction: column;
          margin-bottom: 100px;

          &__item {
            padding: 24px 0;
            color: #282828;

            &.active {
              &:after {
                bottom: 16px;
                height: 3px;
              }
            }
          }
        }

        button.btn.gray {
          display: flex !important;
          border: 1px solid #acacac !important;
          color: var(--Main1) !important;
        }
      }

      &__item {
        margin: 0 75px;
        font-size: 20px;
        text-align: center;
        position: relative;
        color: #282828;
        display: flex;
        align-items: center;
        min-height: 25px;

        @media (max-width: 1440px) {
          font-size: 18px;
          margin: 0 50px;
        }

        svg {
          margin-right: 8px;
          transition: 0.2s;

          &.active {
            display: none;
          }

          &.inactive {
            display: block;
          }
        }

        &.active {
          font-weight: bold;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -41px;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background: linear-gradient(180deg, #ffe587 0%, #ffb33d 100%);

            @media (max-width: 1440px) {
              bottom: -30px;
            }
          }

          svg {
            &.active {
              display: block;
            }

            &.inactive {
              display: none;
            }
          }
        }
      }
    }

    .auth-nav-menu-container {
      display: inline-flex;
      align-items: center;

      .login-user__wrapper {
        display: flex;

        .header__top-expert {
          width: auto;
          position: relative;
          text-align: right;
          max-width: 300px;
          padding: 0 60px 0 0;
          display: inline-block;

          @media screen and (max-width: 576px) {
            max-width: 180px;
          }

          &-title,
          &-email {
            display: block !important;

            @media screen and (max-width: 576px) {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              
            }
          }

          &-title{
            font-size: 12px;
            line-height: 1;

            @media screen and (max-width: 576px) {
              font-size: 10px;
            }
          }

          &-email{
            font-size: 16px;
            line-height: initial;    

            @media screen and (max-width: 576px) {
              font-size: 14px;
            }
          }

          .header__top-expert-icon.btn-icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 47px;
            height: 47px;
            line-height: 42px;

            svg {
              max-width: 39px !important;
              max-height: 39px !important;
              stroke: #000;
            }
          }
        }
      }
    }

    .menu-container {
      padding: 0 !important;
      z-index: 2;

      .btn-icon__img {
        display: flex !important;
      }

      .menu-container__expert_info {
        @media screen and (max-width: 576px) {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 140px;

          .menu-container__expert_info_role {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 10px;
          }

          .menu-container__expert_info_email {
            font-size: 14px;
          }

          .menu-container__expert_info_vote {
            font-size: 12px;
            margin-top: 4px;
          }
        }
      }
    }

    &-burger {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      cursor: pointer;
      position: relative;
      z-index: 10;
      border: 1px solid #3f3e3e;
      margin-left: 8px;

      @media (max-width: 991px) {
        display: flex;
      }

      &_inner {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 1px dotted #3f3e3e;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-wrap {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #f2dfc1 0%, #fbf5ec 100%);
      }

      &-center {
        position: relative;
        width: 22px;
        height: 3px;
        border-radius: 10px;
        background: #3f3e3e;
        transition: 0.2s;

        &:before,
        &:after {
          content: '';
          position: absolute;
          right: 0;
          width: 100%;
          height: 3px;
          border-radius: 10px;
          background: #3f3e3e;
          transition: 0.2s;
        }

        &:before {
          top: 6px;
        }

        &:after {
          bottom: 6px;
        }

        &.open {
          background: transparent !important;

          &:before,
          &:after {
            transform-origin: right center;
          }

          &:before {
            top: 10px;
            width: 30px;
            transform: rotate(42deg);
          }

          &:after {
            bottom: 10px;
            width: 30px;
            transform: rotate(-42deg);
          }
        }
      }
    }

    &-filter,
    &-aside {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 32px;
      margin-left: auto;
      display: none;

      @media (max-width: 991px) {
        display: flex;
      }

      &.open {
        .default {
          display: none;
        }

        .close {
          display: block;
        }
      }

      svg {
        cursor: pointer;
        transition: 0.2s;
      }

      .close {
        display: none;
      }
    }

    svg {
      path.letter {
        fill: #3c3c3b;
      }
    }
  }
}