.page-main {
    .hmao-lite-header {
        font-family: 'PT Sans', sans-serif;
        flex-direction: row;
        background-color: #393442;
        padding: 10px 0 10px;

        &__content {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;
            opacity: 0.8;

            @media (max-width: 659px) {
                flex-direction: column;
                flex-wrap: wrap;
            }

            &-button {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'PT Sans', sans-serif;
                font-size: 14px;
                margin: 0 0 0 10px;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 26px;
                padding: 2px 7px;
                background: none;
                width: 170px;
                height: 30px;
                transition: all ease 0.5s;

                &:hover {
                    color: black;
                    background: white;
                }

                &:active {
                    color: #fff;
                    background: none;
                }

                &:focus {
                    color: #fff;
                    background: none;
                }

                @media (max-width: 659px) {
                    margin: 0;
                }
            }

            &-link {
                font-family: 'PT Sans', sans-serif;
                font-size: 14px;
                color: #fff;
                margin: 0 0 0 40px;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }

                @media (max-width: 659px) {
                    margin: 0;
                }
            }
        }
    }
}