<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row">
    <div class="col-12 mb-3">
      <mrx-paginator [currentPage]="1" [total]="0" [isEmptyPaginator]="true" [isPaginatorText]="true"></mrx-paginator>
    </div>
    <div class="col-12 mb-3">
      <mrx-paginator [currentPage]="2" [total]="20" [isPaginatorText]="true"></mrx-paginator>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <mrx-paginator [currentPage]="3" [total]="200"></mrx-paginator>
    </div>
    <div class="col-12 mb-3">
      <mrx-paginator [currentPage]="4" [total]="200"></mrx-paginator>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-3">
      <mrx-paginator [currentPage]="10" [total]="195"></mrx-paginator>
    </div>
    <div class="col-12 mb-3">
      <mrx-paginator [currentPage]="9" [total]="200"></mrx-paginator>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-3">
      <mrx-paginator [currentPage]="8" [total]="200"></mrx-paginator>
    </div>
    <div class="col-12 mb-3">
      <mrx-paginator [currentPage]="7" [total]="200"></mrx-paginator>
    </div>
  </div>
</mrx-content-wrapper>
