.mrx-loader.mrx-loader {
  &.mrx-loader-lg {
    width: calc(var(--sizing-module) * 18);
    height: calc(var(--sizing-module) * 18);
  }

  &.mrx-loader-md {
    width: var(--spacing-12);
    height: var(--spacing-12);
  }

  &.mrx-loader-sm {
    width: var(--sizing-6);
    height: var(--sizing-6);
  }

  &.mrx-loader-extra-sm {
    width: var(--sizing-4);
    height: var(--sizing-4);
  }
}
