<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row mb-5">
    <div class="col">
      <mrx-label>Type default large size</mrx-label>
      <mrx-tabs-group customClasses="mb-0" size="large">
        <mrx-tab [active]="activeTabId === 0" subTitle="28" (onClick)="onTabClick(0)">
          Все
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 1" subTitle="21" (onClick)="onTabClick(1)">
          Требуют оценки
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 2" subTitle="23" (onClick)="onTabClick(2)">
          Завершенные
        </mrx-tab>
      </mrx-tabs-group>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <mrx-label>Type default medium size</mrx-label>
      <mrx-tabs-group customClasses="mb-0" size="medium">
        <mrx-tab [active]="activeTabId === 0" subTitle="28" (onClick)="onTabClick(0)">
          Все
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 1" subTitle="21" (onClick)="onTabClick(1)">
          Требуют оценки
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 2" subTitle="23" (onClick)="onTabClick(2)">
          Завершенные
        </mrx-tab>
      </mrx-tabs-group>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <mrx-label>Type default small size</mrx-label>
      <mrx-tabs-group customClasses="mb-0" size="small">
        <mrx-tab [active]="activeTabId === 0" subTitle="28" (onClick)="onTabClick(0)">
          Все
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 1" subTitle="21" (onClick)="onTabClick(1)">
          Требуют оценки
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 2" subTitle="23" (onClick)="onTabClick(2)">
          Завершенные
        </mrx-tab>
      </mrx-tabs-group>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <mrx-label>Type button large size</mrx-label>
      <mrx-tabs-group customClasses="mb-0" type="button" size="large">
        <mrx-tab [active]="activeTabId === 0" subTitle="28" (onClick)="onTabClick(0)">
          Все
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 1" subTitle="21" (onClick)="onTabClick(1)">
          Требуют оценки
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 2" subTitle="23" (onClick)="onTabClick(2)">
          Завершенные
        </mrx-tab>
      </mrx-tabs-group>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <mrx-label>Type button medium size</mrx-label>
      <mrx-tabs-group customClasses="mb-0" type="button" size="medium">
        <mrx-tab [active]="activeTabId === 0" subTitle="28" (onClick)="onTabClick(0)">
          Все
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 1" subTitle="21" (onClick)="onTabClick(1)">
          Требуют оценки
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 2" subTitle="23" (onClick)="onTabClick(2)">
          Завершенные
        </mrx-tab>
      </mrx-tabs-group>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      <mrx-label>Type button small size</mrx-label>
      <mrx-tabs-group customClasses="mb-0" type="button" size="small">
        <mrx-tab [active]="activeTabId === 0" subTitle="28" (onClick)="onTabClick(0)">
          Все
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 1" subTitle="21" (onClick)="onTabClick(1)">
          Требуют оценки
        </mrx-tab>
        <mrx-tab [active]="activeTabId === 2" subTitle="23" (onClick)="onTabClick(2)">
          Завершенные
        </mrx-tab>
      </mrx-tabs-group>
    </div>
  </div>
</mrx-content-wrapper>
