.mrx-btn.mrx-btn {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-radius-1);
  outline: none;
  transition: background-color 0.2s;
  text-align: center;
  text-decoration: none;
}
