.mrx-btn.mrx-btn {
  &.icon-left, &.icon-right {
    .icon {
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 100%;
        }
      }
    }

    &.mrx-btn-lg {
      .icon-wrapper {
        width: var(--sizing-6);
      }
      //&.icon-left {
      //  .icon-wrapper {
      //    margin-right: var(--spacing-2);
      //  }
      //}
      //
      //&.icon-right {
      //  .icon-wrapper {
      //    margin-left: var(--spacing-2);
      //  }
      //}
    }

    &.mrx-btn-md {
      .icon-wrapper {
        width: var(--sizing-6);
      }
      //&.icon-left {
      //  .icon-wrapper {
      //    margin-right: var(--spacing-2);
      //  }
      //}
      //&.icon-right {
      //  .icon-wrapper {
      //    margin-left: var(--spacing-2);
      //  }
      //}
    }

    &.mrx-btn-sm {
      .icon-wrapper {
        width: var(--sizing-4);
      }
      //&.icon-left {
      //  .icon-wrapper {
      //    margin-right: var(--spacing-1);
      //  }
      //}
      //&.icon-right {
      //  .icon-wrapper {
      //    margin-left: var(--spacing-1);
      //  }
      //}
    }
  }
}
