<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row mb-5">
    <div class="col">
      <mrx-button (click)="showSmallModal()">Small modal</mrx-button>
    </div>
    <div class="col">
      <mrx-button (click)="showMediumModal()">Medium modal</mrx-button>
    </div>
    <div class="col">
      <mrx-button (click)="showLargeModal()">Large modal</mrx-button>
    </div>
    <div class="col">
      <mrx-button (click)="showExtraLargeModal()">Extra Large modal</mrx-button>
    </div>
    <div class="col">
      <mrx-button (click)="showContentModal()">Content modal</mrx-button>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <mrx-button color="default" (click)="showDefaultModal()">Default modal</mrx-button>
    </div>
    <div class="col">
      <mrx-button color="default" (click)="showInfoModal()">Info modal</mrx-button>
    </div>
    <div class="col">
      <mrx-button color="attention" (click)="showAttentionModal()">Attention modal</mrx-button>
    </div>
    <div class="col">
      <mrx-button color="negative" (click)="showNegativeModal()">Negative modal</mrx-button>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <mrx-button color="default" (click)="showAlertDef()">Default modal</mrx-button>
    </div>
    <div class="col">
      <mrx-button color="default" (click)="showConfirmDef()">Info modal</mrx-button>
    </div>
    <div class="col">
      <mrx-button color="default" (click)="showAssessmentModal()">Assessment modal</mrx-button>
    </div>
  </div>
</mrx-content-wrapper>
