.mrx-input-text.mrx-input-text {
  &.mrx-input-text-lg {
    input {
      padding: calc(var(--spacing-3) + var(--spacing-helf) - var(--border-width-default)) var(--spacing-4);
      font-family: var(--body-md-font-family);
      font-size: var(--body-md-font-size);
      font-weight: var(--body-md-font-weight);
      line-height: var(--body-md-line-height);
    }
  }

  &.mrx-input-text-md {
    input {
      padding: calc(var(--spacing-2) + var(--spacing-helf) - var(--border-width-default)) var(--spacing-4);
      font-family: var(--body-md-font-family);
      font-size: var(--body-md-font-size);
      font-weight: var(--body-md-font-weight);
      line-height: var(--body-md-line-height);
    }
  }

  &.mrx-input-text-sm {
    input {
      padding: calc(var(--spacing-2) - var(--border-width-default)) var(--spacing-4);
      font-family: var(--body-sm-font-family);
      font-size: var(--body-sm-font-size);
      font-weight: var(--body-sm-font-weight);
      line-height: var(--body-sm-line-height);
    }
  }
}
