.page-wrapper {
    .custom-image-cropper {
        @import url("slim.less");

        .slim-btn {
            width: 30px;
            height: 30px;
        }

        .slim-btn-group {
            top: 60%;
        }
    }
}

.slim-image-editor {
    height: 85% !important;
}