.employee-panel {
  border-top: 1px solid var(--Stroke);

  &__item {
    margin-bottom: 16px;

    &_body {
      &_item { 
        position: relative;
        padding-left: 16px;
        
        &.disabled{
          background: var(--Bg1);
        }      

        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 600;
          font-size: 14px;
          padding: 2px 8px;
          min-height: 48px;
          margin-bottom: 16px;
          border-top: 1px solid var(--Bg1);
          border-bottom: 1px solid var(--Bg1);

          .tag {
            font-weight: normal;
            font-size: 14px;
            background: var(--Bg2);
            box-shadow: 0px 1px 2px rgba(58, 58, 58, 0.12);
            border-radius: 4px;
            text-transform: uppercase;
            color: var(--Main2);
            padding: 12px 9px;
          }
        }        

        &.good {
          &:after {
            background: var(--Green);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 8px;
          }         
        }

        &.normal {
          &:after {
            background: var(--Yellow);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 8px;
          }
        }

        &.bad {
          &:after {
            background: var(--Red);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 8px;
          }
        }

        &.default{
          &:after {
            background: var(--Stroke);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 8px;
          }
        }

        .body {
          padding: 8px; 
        }
      }
    }

    &_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 8px;
      border-bottom: 1px solid var(--Bg1);
      border-top: 1px solid var(--Bg1);

      div {
        display: flex;
        align-items: center;
        margin: 0 -8px;
      }

      span {
        padding: 0 8px;
        cursor: pointer;
        line-height: 0;
        transition: 0.2s;

        svg {
          g {
            transition: 0.2s;
          }
        }

        &.active {
          transform: rotate(-45deg);

          svg {
            g {
              stroke: var(--Main2);
            }
          }
        }
      }
    }    
  }

  &__footer-fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -24px;
    padding: 24px;
    border-top: 1px solid var(--Bg1);
    background-color: #fff;

    span{
      cursor: pointer;
      
      &:not(:last-child){
        margin-right: 16px;
      }
    }
  }

  &__tabs {
    display: flex;
    width: 100%;
    margin-bottom: 24px;

    &_item {
      height: 48px;
      border: 1px solid var(--Stroke);
      border-right: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      padding: 0 16px;
      font-weight: 600;
      text-align: center;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-right: 1px solid var(--Stroke);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &.active {
        background: var(--Main2);
        border-color: var(--Main2);
        color: #fff;

        svg {
          path {
            stroke: #fff;
          }
        }
      }     
    }
  }

  //TO DO  (заменить employee-panel__contacts-item на employee-panel__list-item и удалить стить)
  &__contacts-item{
    &.selected, &:hover{
      background: var(--Bg2);
    }

    &.unpointed{
      background: #F8F8F8;
    }
  }  

  //TO DO end

  &__list-item{
    &.selected, &:hover{
      background: var(--Bg2);
    }

    &.unpointed{
      background: #F8F8F8;
    }
  }  

  .payment-comment{
    &__item{      
      &:last-child{
        border-bottom: 1px solid var(--Bg1);
      }
    }
  }

  .contacts {
    background: var(--Bg1);
    box-shadow: inset 0px 1px 1px rgba(57, 52, 66, 0.05);
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 16px;

    &__item {
      padding: 8px 16px;
      border-bottom: 1px solid var(--Stroke);
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        align-items: center;
      }

      .user {
        .avatar {
          position: relative;
          margin-right: 8px;

          .img {
            width: 36px;
            min-width: 36px;
            height: 36px;
            overflow: hidden;
            border-radius: 100%;
          }

          .checked {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            position: absolute;
            bottom: -2px;
            right: -2px;
            background: #fff;
            border-radius: 100%;
            box-shadow: 0px 0px 2px rgba(58, 58, 58, 0.25);
          }
        }

        .info {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .func {
        width: 24px;
        min-width: 24px;
        margin-left: 12px;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .documents {
    &__item {
      background: #fff;
      border: 1px solid var(--Stroke);
      border-radius: 4px;
      margin-bottom: 8px;

      &.open {
        .documents__item_body {
          display: block;
        }
      }

      &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 48px;
        padding: 5px 18px;

        .files {
          svg {
            margin-right: 12px;
          }
        }

        .function {
          margin: 0 -5px;

          span {
            margin: 0 5px;
            cursor: pointer;
          }
        }

        div {
          align-items: center;
          display: flex;
        }
      }

      &_body {
        display: none;
        padding: 16px;
        border-top: 1px solid var(--Stroke);       
      }     
    }
  }

  .more-info {
    &__trigger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      cursor: pointer;
      margin-bottom: 16px;

      span {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        transition: 0.2s;
      }

      &.active {
        span {
          transform: rotate(180deg);
        }
      }
    }
  }

  p {
    &.balls {
      position: relative;
      padding-left: 24px;

      &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 16px;
        height: 16px;
        display: block;
        border: 1px solid var(--Stroke);
        border-radius: 100%;
        margin-right: 8px;
      }

      &.green {
        &:after {
          background: var(--Green);
        }
      }

      &.yellow {
        &:after {
          background: var(--Yellow);
        }
      }

      &.red {
        &:after {
          background: var(--Red);
        }
      }
    }
  }

  .file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid var(--Stroke);
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 5px 18px;

    min-height: 48px;

    a {
      display: flex;
      align-items: center;
      color: var(--Main1);
      cursor: pointer;

      svg {
        margin-right: 10px;
      }
    }

    span {
      line-height: 0;
      display: flex;
      align-items: center;
    }
  }

  .select {
    &__body {
      position: absolute;
      width: 100%;
      top: calc(~'100% + 5px');
      left: 0;
      background: #fff;
      box-shadow: 0px 8px 16px rgba(59, 67, 87, 0.0978475),
        0px 0px 1px rgba(10, 31, 68, 0.08);
      border-radius: 4px;
      z-index: 3;

      &_item {
        min-height: 40px;
        padding: 5px 10px;
        color: #000;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--Stroke);
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .border-bottom{
    border-bottom: 1px solid var(--Bg1);
  }

  .border-top{
    border-top: 1px solid var(--Bg1);
  }
}

.sidebar-notification {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 600px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  z-index: 11;
  transition: 0.3s;
  transform: translateX(100%);
  box-shadow: -4px 0px 10px rgba(57, 52, 66, 0.15);

  &-visible {
    overflow: hidden;

    .sidebar-notification {
      transform: translateX(0);
    }

    .bg-sidebar {
      opacity: .4;
      width: 100%;
    }
  }
}

.bg-sidebar {
  transition: .5s;
  position: fixed;
  background: #000;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 10;
}

.sidebar-notification-left-space {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100% - 600px);
  z-index: 11;
}

.fixed-button-bar {
  position: fixed;
  right: 0;
  top: 20%;  
  box-shadow: 0px 1px 4px rgba(58, 58, 58, 0.3);
  z-index: 5;
  border-radius: 4px 0px 0px 4px;
  overflow: hidden;

  @media (max-width:1399px) {
    bottom: 100px;
    top: auto;
  } 

  &__wrapper{
    @media (max-width:1399px) {
      transform:translateY(130%);
      max-height: 0;
      opacity: 0;    
    }    

    &.wrapper-open{
      @media (max-width:1399px) {
        transform:translateY(0px);
        max-height: 300px;   
        opacity: 1;
        transition: max-height 0.3s ease-out; 
      }         
    }   
  }

  &__item {
    padding: 16px;
    position: relative;
    border-bottom: 1px solid var(--Stroke);
    cursor: pointer;
    background: #fff;    
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
      transition: all 0.3s; 
    }

    &:last-child {
      @media (min-width:1400px) {
        border: none;
      }       
    }

    &.item-mobile{
      @media (min-width:1400px) {
        display: none;
      }     
    }

    mark {
      position: absolute;
      width: 20px;
      height: 20px;
      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 12px;
      bottom: 12px;
      background: var(--Main2);
      border-radius: 100%;

      &.mark-green,
      &.mark-red{
        width: 12px;
        height: 12px;
        top: 16px;
        right: 14px;
      }

      &.mark-green{
        background: var(--Green);
      }

      &.mark-red{
        background: var(--Red);
      }
    }
  }  

  & > &__item{
    &:last-child {
      border: none;
    }
  }
}