.page-wrapper {

    .custom-html-editor {

        [class^="note-icon-"]:before,
        [class*=" note-icon-"]:before {
            display: inline-block;
            font: normal normal normal 14px summernote;
            font-size: inherit;
            -webkit-font-smoothing: antialiased;
            text-decoration: inherit;
            text-rendering: auto;
            text-transform: none;
            vertical-align: middle;
            speak: none;
            -moz-osx-font-smoothing: grayscale
        }

        .note-icon-align-center:before,
        .note-icon-align-indent:before,
        .note-icon-align-justify:before,
        .note-icon-align-left:before,
        .note-icon-align-outdent:before,
        .note-icon-align-right:before,
        .note-icon-align:before,
        .note-icon-arrow-circle-down:before,
        .note-icon-arrow-circle-left:before,
        .note-icon-arrow-circle-right:before,
        .note-icon-arrow-circle-up:before,
        .note-icon-arrows-alt:before,
        .note-icon-arrows-h:before,
        .note-icon-arrows-v:before,
        .note-icon-bold:before,
        .note-icon-caret:before,
        .note-icon-chain-broken:before,
        .note-icon-circle:before,
        .note-icon-close:before,
        .note-icon-code:before,
        .note-icon-col-after:before,
        .note-icon-col-before:before,
        .note-icon-col-remove:before,
        .note-icon-eraser:before,
        .note-icon-font:before,
        .note-icon-frame:before,
        .note-icon-italic:before,
        .note-icon-link:before,
        .note-icon-magic:before,
        .note-icon-menu-check:before,
        .note-icon-minus:before,
        .note-icon-orderedlist:before,
        .note-icon-pencil:before,
        .note-icon-picture:before,
        .note-icon-question:before,
        .note-icon-redo:before,
        .note-icon-row-above:before,
        .note-icon-row-below:before,
        .note-icon-row-remove:before,
        .note-icon-special-character:before,
        .note-icon-square:before,
        .note-icon-strikethrough:before,
        .note-icon-subscript:before,
        .note-icon-summernote:before,
        .note-icon-superscript:before,
        .note-icon-table:before,
        .note-icon-text-height:before,
        .note-icon-trash:before,
        .note-icon-underline:before,
        .note-icon-undo:before,
        .note-icon-unorderedlist:before,
        .note-icon-video:before {
            display: inline-block;
            font-family: "summernote";
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            line-height: 0;
        }

        .note-icon-align-center:before {
            content: "\f101"
        }

        .note-icon-align-indent:before {
            content: "\f102"
        }

        .note-icon-align-justify:before {
            content: "\f103"
        }

        .note-icon-align-left:before {
            content: "\f104"
        }

        .note-icon-align-outdent:before {
            content: "\f105"
        }

        .note-icon-align-right:before {
            content: "\f106"
        }

        .note-icon-align:before {
            content: "\f107"
        }

        .note-icon-arrow-circle-down:before {
            content: "\f108"
        }

        .note-icon-arrow-circle-left:before {
            content: "\f109"
        }

        .note-icon-arrow-circle-right:before {
            content: "\f10a"
        }

        .note-icon-arrow-circle-up:before {
            content: "\f10b"
        }

        .note-icon-arrows-alt:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1853 10.1858L3 3M3 3L3.00032 10.186M3 3L10.1856 3.00018M13.8147 10.1858L21 3M21 3L20.9996 10.186M21 3L13.8143 3.00026M10.1853 13.8142L3 21M3 21L3.0004 13.814M3 21L10.1857 20.9997M13.8147 13.8142L21 21M21 21L20.9993 13.8136M21 21L13.814 20.9994' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }

        .note-icon-arrows-h:before {
            content: "\f10d"
        }

        .note-icon-arrows-v:before {
            content: "\f10e"
        }

        .note-icon-bold:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8945 11.8721C16.528 12.2529 17.6748 12.7142 18.335 13.2559C19.2829 14.026 19.7568 15.0247 19.7568 16.252C19.7568 17.5469 19.2363 18.6175 18.1953 19.4639C16.9173 20.488 15.0596 21 12.6221 21H3.875V20.5303C4.67057 20.5303 5.20801 20.4583 5.4873 20.3145C5.77507 20.1621 5.97396 19.9674 6.08398 19.7305C6.20247 19.4935 6.26172 18.9095 6.26172 17.9785V6.80664C6.26172 5.87565 6.20247 5.29167 6.08398 5.05469C5.97396 4.80924 5.77507 4.61458 5.4873 4.4707C5.19954 4.32682 4.66211 4.25488 3.875 4.25488V3.78516H12.127C14.099 3.78516 15.4954 3.96289 16.3164 4.31836C17.1374 4.66536 17.7848 5.1901 18.2588 5.89258C18.7327 6.58659 18.9697 7.32715 18.9697 8.11426C18.9697 8.94369 18.6693 9.68424 18.0684 10.3359C17.4674 10.9792 16.4095 11.4912 14.8945 11.8721ZM10.2734 11.5293C11.4753 11.5293 12.3597 11.3939 12.9268 11.123C13.5023 10.8522 13.9424 10.4714 14.2471 9.98047C14.5518 9.48958 14.7041 8.86328 14.7041 8.10156C14.7041 7.33984 14.5518 6.71777 14.2471 6.23535C13.9508 5.74447 13.5234 5.37207 12.9648 5.11816C12.4062 4.86426 11.5091 4.74154 10.2734 4.75V11.5293ZM10.2734 12.5195V18.042L10.2607 18.6768C10.2607 19.1338 10.375 19.4808 10.6035 19.7178C10.8405 19.9463 11.1875 20.0605 11.6445 20.0605C12.3216 20.0605 12.9437 19.9124 13.5107 19.6162C14.0863 19.3115 14.5264 18.8757 14.8311 18.3086C15.1357 17.7331 15.2881 17.0941 15.2881 16.3916C15.2881 15.5876 15.1019 14.8682 14.7295 14.2334C14.3571 13.5902 13.8451 13.1416 13.1934 12.8877C12.5417 12.6338 11.5684 12.5111 10.2734 12.5195Z' fill='%233A3A3A'/%3E%3C/svg%3E%0A");
        }

        .note-icon-caret:before {
            content: "\f110"
        }

        .note-icon-chain-broken:before {
            content: "\f111"
        }

        .note-icon-circle:before {
            content: "\f112"
        }

        .note-icon-close:before {
            content: "\f113"
        }

        .note-icon-code:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 16L2 12L6 8' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18 16L22 12L18 8' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.56689 19.1782L15.5669 5.32182' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }

        .note-icon-col-after:before {
            content: "\f115"
        }

        .note-icon-col-before:before {
            content: "\f116"
        }

        .note-icon-col-remove:before {
            content: "\f117"
        }

        .note-icon-eraser:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.62127 5.51493C7.84385 4.62459 8.64382 4 9.56155 4H17.4384C18.7396 4 19.6943 5.22278 19.3787 6.48507L16.3787 18.4851C16.1561 19.3754 15.3562 20 14.4384 20H6.56155C5.26041 20 4.30569 18.7772 4.62127 17.5149L7.62127 5.51493Z' stroke='%233A3A3A' stroke-width='1.5'/%3E%3Cpath d='M17.4384 4H9.56155C8.64382 4 7.84385 4.62459 7.62127 5.51493L6 12H18L19.3787 6.48507C19.6943 5.22278 18.7396 4 17.4384 4Z' fill='%233A3A3A'/%3E%3C/svg%3E%0A");
        }

        .note-icon-font:before {
            content: "\f119"
        }

        .note-icon-frame:before {
            content: "\f11a"
        }

        .note-icon-italic:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0273 4.25488L10.167 3.78516H18.5713L18.4062 4.25488C17.6445 4.25488 17.0605 4.42415 16.6543 4.7627C16.2565 5.10124 15.9053 5.80794 15.6006 6.88281L12.4521 17.9023C12.2236 18.681 12.1094 19.2015 12.1094 19.4639C12.1094 19.7686 12.2279 20.0055 12.4648 20.1748C12.7695 20.3949 13.3451 20.5133 14.1914 20.5303L14.0645 21H5.52051L5.66016 20.5303C6.51497 20.5303 7.14128 20.3695 7.53906 20.0479C7.93685 19.7178 8.29655 19.0026 8.61816 17.9023L11.792 6.88281C11.9867 6.20573 12.084 5.69368 12.084 5.34668C12.084 5.03353 11.9655 4.78809 11.7285 4.61035C11.4915 4.43262 10.9245 4.31413 10.0273 4.25488Z' fill='%233A3A3A'/%3E%3C/svg%3E%0A");
        }

        .note-icon-link:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2002 12.8998C10.9823 13.9453 12.1799 14.5996 13.4822 14.6929C14.7845 14.7861 16.0631 14.3092 16.9862 13.3858L19.6862 10.6858C21.3916 8.92007 21.3672 6.11339 19.6314 4.37759C17.8956 2.64179 15.0889 2.6174 13.3232 4.32277L11.7752 5.86177' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M13.8 11.0995C13.0179 10.054 11.8203 9.3997 10.518 9.30643C9.21568 9.21316 7.93706 9.69013 7.01399 10.6135L4.31399 13.3135C2.60861 15.0792 2.633 17.8859 4.3688 19.6217C6.1046 21.3575 8.91128 21.3819 10.677 19.6765L12.216 18.1375' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        }

        .note-icon-magic:before {
            content: "\f11d"
        }

        .note-icon-menu-check:before {
            content: "\f11e"
        }

        .note-icon-minus:before {
            content: "\f11f"
        }

        .note-icon-orderedlist:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 12H21' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 6H21' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 18H21' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 4L2 4.5V5.325L2.775 4.915V6.625L2 6.62511V7.40011H4.5V6.62511L3.675 6.625V4H3Z' fill='%233A3A3A'/%3E%3Cpath d='M2.11 10.375V11.225C2.48 10.935 2.9 10.8 3.24 10.8C3.5 10.8 3.685 10.9 3.685 11.105C3.685 11.365 3.425 11.46 3.11 11.645C2.625 11.93 2 12.25 2 13.07V13.475H4.635V12.7H3.06C3.06 12.61 3.345 12.45 3.71 12.23C4.14 11.97 4.61 11.63 4.61 11.055C4.61 10.3 4.005 10 3.325 10C2.89 10 2.47 10.12 2.11 10.375Z' fill='%233A3A3A'/%3E%3Cpath d='M4.46 16.945C4.46 16.29 3.9 16 3.185 16C2.775 16 2.365 16.105 2.06 16.28V17.13C2.395 16.905 2.78 16.8 3.06 16.8C3.405 16.8 3.585 16.9 3.585 17.09C3.585 17.285 3.395 17.35 3.15 17.345L2.68 17.34L2.675 18.115H3.255C3.535 18.115 3.72 18.195 3.72 18.395C3.72 18.645 3.43 18.745 3.1 18.75C2.745 18.755 2.41 18.705 2 18.47V19.32C2.415 19.485 2.765 19.55 3.175 19.55C3.89 19.55 4.6 19.29 4.6 18.545C4.6 18.055 4.31 17.78 3.935 17.665C4.27 17.55 4.46 17.3 4.46 16.945Z' fill='%233A3A3A'/%3E%3C/svg%3E%0A");
        }

        .note-icon-pencil:before {
            content: "\f121"
        }

        .note-icon-picture:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.5 10C9.32843 10 10 9.32843 10 8.5C10 7.67157 9.32843 7 8.5 7C7.67157 7 7 7.67157 7 8.5C7 9.32843 7.67157 10 8.5 10Z' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 15L16 10L5 21' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }

        .note-icon-question:before {
            content: "\f123"
        }

        .note-icon-redo:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12.5C20 7.80558 16.1944 4 11.5 4C6.80558 4 3 7.80558 3 12.5C3 17.1944 6.80558 21 11.5 21C14.1395 21 16.4981 19.7969 18.0571 17.9091' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M22 11L20 13L18 11' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }

        .note-icon-row-above:before {
            content: "\f125"
        }

        .note-icon-row-below:before {
            content: "\f126"
        }

        .note-icon-row-remove:before {
            content: "\f127"
        }

        .note-icon-special-character:before {
            content: "\f128"
        }

        .note-icon-square:before {
            content: "\f129"
        }

        .note-icon-strikethrough:before {
            content: "\f12a"
        }

        .note-icon-subscript:before {
            content: "\f12b"
        }

        .note-icon-summernote:before {
            content: "\f12c"
        }

        .note-icon-superscript:before {
            content: "\f12d"
        }

        .note-icon-table:before {
            content: "\f12e"
        }

        .note-icon-text-height:before {
            content: "\f12f"
        }

        .note-icon-trash:before {
            content: "\f130"
        }

        .note-icon-underline:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.56641 3.43359H11.0859V3.83105H10.71C10.1442 3.83105 9.75391 3.89193 9.53906 4.01367C9.33138 4.12826 9.18099 4.28939 9.08789 4.49707C9.00195 4.70475 8.95898 5.22396 8.95898 6.05469V13.1875C8.95898 14.4909 9.05566 15.3538 9.24902 15.7764C9.44954 16.1989 9.77539 16.5498 10.2266 16.8291C10.6777 17.1084 11.2471 17.248 11.9346 17.248C12.7223 17.248 13.3919 17.0726 13.9434 16.7217C14.502 16.3636 14.9173 15.873 15.1895 15.25C15.4688 14.627 15.6084 13.542 15.6084 11.9951V6.05469C15.6084 5.40299 15.5404 4.9375 15.4043 4.6582C15.2682 4.37891 15.0964 4.18555 14.8887 4.07812C14.5664 3.91341 14.1117 3.83105 13.5244 3.83105V3.43359H18.5625V3.83105H18.2617C17.8535 3.83105 17.5133 3.91341 17.2412 4.07812C16.9691 4.24284 16.7721 4.48991 16.6504 4.81934C16.5573 5.0485 16.5107 5.46029 16.5107 6.05469V11.5869C16.5107 13.2985 16.3962 14.5339 16.167 15.293C15.945 16.0521 15.3971 16.7503 14.5234 17.3877C13.6497 18.0251 12.4574 18.3438 10.9463 18.3438C9.68587 18.3438 8.71191 18.1755 8.02441 17.8389C7.08626 17.3805 6.42383 16.7933 6.03711 16.0771C5.65039 15.361 5.45703 14.3978 5.45703 13.1875V6.05469C5.45703 5.2168 5.41048 4.69759 5.31738 4.49707C5.22428 4.28939 5.06315 4.12467 4.83398 4.00293C4.60482 3.88118 4.18229 3.82389 3.56641 3.83105V3.43359Z' fill='%233A3A3A'/%3E%3Cline x1='4' y1='20.25' x2='19' y2='20.25' stroke='%233A3A3A' stroke-width='1.5'/%3E%3C/svg%3E%0A");
        }

        .note-icon-undo:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12.5C4 7.80558 7.80558 4 12.5 4C17.1944 4 21 7.80558 21 12.5C21 17.1944 17.1944 21 12.5 21C9.86046 21 7.50193 19.7969 5.94289 17.9091' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M2 11L4 13L6 11' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }

        .note-icon-unorderedlist:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 12H21' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 6H21' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 18H21' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='3' cy='6' r='1' fill='%233A3A3A'/%3E%3Ccircle cx='3' cy='12' r='1' fill='%233A3A3A'/%3E%3Ccircle cx='3' cy='18' r='1' fill='%233A3A3A'/%3E%3C/svg%3E%0A");
        }

        .note-icon-video:before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='4' width='18' height='16' rx='2' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 4V20' stroke='%233A3A3A' stroke-width='1.5'/%3E%3Cpath d='M7 12H3' stroke='%233A3A3A' stroke-width='1.5'/%3E%3Cpath d='M21 12H17' stroke='%233A3A3A' stroke-width='1.5'/%3E%3Cpath d='M7 8H3' stroke='%233A3A3A' stroke-width='1.5'/%3E%3Cpath d='M21 8H17' stroke='%233A3A3A' stroke-width='1.5'/%3E%3Cpath d='M7 16H3' stroke='%233A3A3A' stroke-width='1.5'/%3E%3Cpath d='M21 16H17' stroke='%233A3A3A' stroke-width='1.5'/%3E%3Cpath d='M17 4V20' stroke='%233A3A3A' stroke-width='1.5'/%3E%3C/svg%3E%0A");
        }

        .note-frame * {
            color: #000;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box
        }

        kbd {
            padding: 3px 5px;
            font-weight: 700;
            color: #fff;
            background-color: #000;
            border-radius: 2px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box
        }

        .note-toolbar {
            padding: 10px 5px;
            border: 1px solid #DAD5CE;
            border-radius: 4px;
            display: flex;
            flex-wrap: wrap;
            position: relative !important;
        }

        .note-btn-group {
            position: relative;
            display: flex;
            margin-right: 3px;
        }

        .note-btn-group>.note-btn-group {
            margin-right: 0
        }

        .note-btn-group>.note-btn,
        .note-btn-group>.note-btn-group {
            margin-left: -4px;
            border-radius: 0
        }

        .note-btn-group>.note-btn.focus,
        .note-btn-group>.note-btn-group.focus,
        .note-btn-group>.note-btn.active,
        .note-btn-group>.note-btn-group.active {
            border-radius: 0
        }

        .note-btn-group>.note-btn:first-child,
        .note-btn-group>.note-btn-group:first-child {
            margin-left: 0;
            border-bottom-left-radius: 1px;
            border-top-left-radius: 1px
        }

        .note-btn-group>.note-btn:first-child.focus,
        .note-btn-group>.note-btn-group:first-child.focus,
        .note-btn-group>.note-btn:first-child.active,
        .note-btn-group>.note-btn-group:first-child.active {
            border-bottom-left-radius: 1px;
            border-top-left-radius: 1px
        }

        .note-btn-group>.note-btn:last-child:not(.note-dropdown),
        .note-btn-group>.note-btn-group:last-child:not(.note-dropdown) {
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px
        }

        .note-btn-group>.note-btn:last-child:not(.note-dropdown).focus,
        .note-btn-group>.note-btn-group:last-child:not(.note-dropdown).focus,
        .note-btn-group>.note-btn:last-child:not(.note-dropdown).active,
        .note-btn-group>.note-btn-group:last-child:not(.note-dropdown).active {
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px
        }

        .note-btn-group.open>.note-dropdown {
            display: block
        }

        button.note-btn {
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 0;
            color: var(--Main1);
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-color: #fff;
            background-image: none;
            border: 1px solid #fff;
            border-color: #fff;
            border-radius: 1px;
            outline: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            touch-action: manipulation;
            transition: 0.2s;
            /*width: 15px;*/
        }

        .note-btn.disabled:focus,
        .note-btn[disabled]:focus,
        fieldset[disabled] .note-btn:focus,
        .note-btn.disabled.focus,
        .note-btn[disabled].focus,
        fieldset[disabled] .note-btn.focus {
            background-color: #fff;
            border-color: #fff
        }

        .note-btn:hover,
        .note-btn:focus,
        .note-btn.focus {
            color: var(--Main1);
            text-decoration: none;
            border: 1px solid #fff;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            border-radius: 1px;
            outline: 0
        }

        .note-btn:active,
        .note-btn.active {
            background-image: none;
            outline: 0
        }

        .note-btn.disabled,
        .note-btn[disabled],
        fieldset[disabled] .note-btn {
            cursor: default;
            -webkit-opacity: .65;
            -khtml-opacity: .65;
            -moz-opacity: .65;
            opacity: .65;
            -ms-filter: alpha(opacity=65);
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none
        }

        .note-btn-primary {
            color: #fff;
            background: #fa6362
        }

        .note-btn-primary:hover,
        .note-btn-primary:focus,
        .note-btn-primary.focus {
            color: #fff;
            text-decoration: none;
            background-color: #fa6362;
            border: 1px solid #fff;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            border-radius: 1px
        }

        .note-btn-block {
            display: block;
            width: 100%
        }

        .note-btn-block+.note-btn-block {
            margin-top: 5px
        }

        input[type="submit"].note-btn-block,
        input[type="reset"].note-btn-block,
        input[type="button"].note-btn-block {
            width: 100%
        }

        .note-dropdown {
            position: relative
        }

        .note-dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 100px;
            padding: 5px;
            text-align: left;
            background: #fff;
            border: 1px solid #e2e2e2;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
            -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
            background-clip: padding-box
        }

        .note-btn-group.open .note-dropdown-menu {
            display: block
        }

        .note-dropdown-item {
            display: block
        }

        .note-dropdown-item:hover {
            background-color: #ebebeb
        }

        a.note-dropdown-item,
        a.note-dropdown-item:hover {
            margin: 2px 0;
            color: #000;
            text-decoration: none
        }


        .note-form-group {
            padding-bottom: 20px;
            margin-bottom: 10px;
        }

        .note-form-group:last-child {
            padding-bottom: 0
        }

        .note-form-label {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
            color: #42515f
        }

        .note-input {
            display: block;
            width: 100%;
            padding: 6px 4px;
            font-size: 14px;
            background: #fff;
            border: 1px solid #ededef;
            outline: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box
        }

        .note-input::-webkit-input-placeholder {
            color: #eee
        }

        .note-input:-moz-placeholder {
            color: #eee
        }

        .note-input::-moz-placeholder {
            color: #eee
        }

        .note-input:-ms-input-placeholder {
            color: #eee
        }

        .note-tooltip {
            position: absolute;
            z-index: 1070;
            display: block;
            font-size: 13px;
            -webkit-opacity: 0;
            -khtml-opacity: 0;
            -moz-opacity: 0;
            opacity: 0;
            -ms-filter: alpha(opacity=0);
            filter: alpha(opacity=0)
        }

        .note-tooltip.in {
            -webkit-opacity: .9;
            -khtml-opacity: .9;
            -moz-opacity: .9;
            opacity: .9;
            -ms-filter: alpha(opacity=90);
            filter: alpha(opacity=90)
        }

        .note-tooltip.top {
            padding: 5px 0;
            margin-top: -3px
        }

        .note-tooltip.right {
            padding: 0 5px;
            margin-left: 3px
        }

        .note-tooltip.bottom {
            padding: 5px 0;
            margin-top: 3px
        }

        .note-tooltip.left {
            padding: 0 5px;
            margin-left: -3px
        }

        .note-tooltip.bottom .note-tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -5px;
            border-bottom-color: #000;
            border-width: 0 5px 5px
        }

        .note-tooltip.top .note-tooltip-arrow {
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            border-top-color: #000;
            border-width: 5px 5px 0
        }

        .note-tooltip.right .note-tooltip-arrow {
            top: 50%;
            left: 0;
            margin-top: -5px;
            border-right-color: #000;
            border-width: 5px 5px 5px 0
        }

        .note-tooltip.left .note-tooltip-arrow {
            top: 50%;
            right: 0;
            margin-top: -5px;
            border-left-color: #000;
            border-width: 5px 0 5px 5px
        }

        .note-tooltip-arrow {
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid
        }

        .note-tooltip-content {
            max-width: 200px;
            padding: 3px 8px;
            color: #fff;
            text-align: center;
            background-color: #000
        }

        .note-popover {
            position: absolute;
            z-index: 1060;
            display: block;
            display: none;
            font-size: 13px;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border: 1px solid #ccc
        }

        .note-popover.in {
            display: block
        }

        .note-popover.top {
            padding: 5 0;
            margin-top: -3px
        }

        .note-popover.right {
            padding: 0 5;
            margin-left: 3px
        }

        .note-popover.bottom {
            padding: 5 0;
            margin-top: 3px
        }

        .note-popover.left {
            padding: 0 5;
            margin-left: -3px
        }

        .note-popover.bottom .note-popover-arrow {
            top: -11px;
            left: 50%;
            margin-left: -10px;
            border-bottom-color: #999;
            border-bottom-color: rgba(0, 0, 0, 0.25);
            border-top-width: 0
        }

        .note-popover.bottom .note-popover-arrow::after {
            top: 1px;
            margin-left: -10px;
            border-bottom-color: #fff;
            border-top-width: 0;
            content: " "
        }

        .note-popover.top .note-popover-arrow {
            bottom: -11px;
            left: 50%;
            margin-left: -10px;
            border-top-color: #999;
            border-top-color: rgba(0, 0, 0, 0.25);
            border-bottom-width: 0
        }

        .note-popover.top .note-popover-arrow::after {
            bottom: 1px;
            margin-left: -10px;
            border-top-color: #fff;
            border-bottom-width: 0;
            content: " "
        }

        .note-popover.right .note-popover-arrow {
            top: 50%;
            left: -11px;
            margin-top: -10px;
            border-right-color: #999;
            border-right-color: rgba(0, 0, 0, 0.25);
            border-left-width: 0
        }

        .note-popover.right .note-popover-arrow::after {
            left: 1px;
            margin-top: -10px;
            border-right-color: #fff;
            border-left-width: 0;
            content: " "
        }

        .note-popover.left .note-popover-arrow {
            top: 50%;
            right: -11px;
            margin-top: -10px;
            border-left-color: #999;
            border-left-color: rgba(0, 0, 0, 0.25);
            border-right-width: 0
        }

        .note-popover.left .note-popover-arrow::after {
            right: 1px;
            margin-top: -10px;
            border-left-color: #fff;
            border-right-width: 0;
            content: " "
        }

        .note-popover-arrow {
            position: absolute;
            width: 0;
            height: 0;
            border: 11px solid transparent
        }

        .note-popover-arrow::after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 10px;
            content: " "
        }

        .note-popover-content {
            min-width: 100px;
            min-height: 30px;
            padding: 3px 8px;
            color: #000;
            text-align: center;
            background-color: #fff
        }

        .note-editor {
            position: relative
        }

        .note-editor .note-dropzone {
            position: absolute;
            z-index: 100;
            display: none;
            color: #87cefa;
            background-color: #fff;
            opacity: .95;
            pointer-event: none
        }

        .note-editor .note-dropzone .note-dropzone-message {
            display: table-cell;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            vertical-align: middle
        }

        .note-editor .note-dropzone.hover {
            color: #098ddf
        }

        .note-editor.dragover .note-dropzone {
            display: table
        }

        .note-editor .note-editing-area {
            position: relative;
            border: 1px solid #DAD5CE;
            border-radius: 4px;
        }

        .note-editor .note-editing-area .note-editable {
            outline: 0
        }

        .note-editor .note-editing-area .note-editable sup {
            vertical-align: super
        }

        .note-editor .note-editing-area .note-editable sub {
            vertical-align: sub
        }

        .note-editor .note-editing-area .note-editable a {
            font-family: inherit;
            font-weight: inherit;
            color: #337ab7;
            text-decoration: inherit;
            background-color: inherit
        }

        .note-editor .note-editing-area .note-editable a:hover,
        .note-editor .note-editing-area .note-editable a:focus {
            color: #23527c;
            text-decoration: underline;
            outline: 0
        }

        .note-editor .note-editing-area .note-editable figure {
            margin: 0
        }

        .note-editor.note-frame {}

        .note-editor.note-frame.codeview .note-editing-area .note-editable {
            display: none
        }

        .note-editor.note-frame.codeview .note-editing-area .note-codable {
            display: block
        }

        .note-editor.note-frame .note-editing-area {
            overflow: hidden
        }

        .note-editor.note-frame .note-editing-area .note-editable {
            padding: 12px 16px;
            overflow: auto;
            color: #000;
            word-wrap: break-word;
            background-color: #fff;
            line-height: 160%;

            b {
                font-weight: 700;
            }

            i {
                font-style: italic;
            }
        }

        .note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"] {
            background-color: #e5e5e5
        }

        .note-editor.note-frame .note-editing-area .note-codable {
            display: none;
            width: 100%;
            padding: 10px;
            margin-bottom: 0;
            font-family: 'PT Sans', sans-serif;
            font-size: 14px;
            color: #ccc;
            background-color: #222;
            border: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            box-shadow: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            resize: none
        }

        .note-editor.note-frame.fullscreen {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1050;
            width: 100% !important
        }

        .note-editor.note-frame.fullscreen .note-editable {
            background-color: #fff
        }

        .note-editor.note-frame.fullscreen .note-resizebar {
            display: none
        }

        .note-editor.note-frame .note-status-output {
            display: block;
            width: 100%;
            height: 20px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.42857143;
            color: #000;
            border: 0;
        }

        .note-editor.note-frame .note-status-output:empty {
            height: 0;
            border-top: 0 solid transparent
        }

        .note-editor.note-frame .note-status-output .pull-right {
            float: right !important
        }

        .note-editor.note-frame .note-status-output .text-muted {
            color: #777
        }

        .note-editor.note-frame .note-status-output .text-primary {
            color: #286090
        }

        .note-editor.note-frame .note-status-output .text-success {
            color: #3c763d
        }

        .note-editor.note-frame .note-status-output .text-info {
            color: #31708f
        }

        .note-editor.note-frame .note-status-output .text-warning {
            color: #8a6d3b
        }

        .note-editor.note-frame .note-status-output .text-danger {
            color: #a94442
        }

        .note-editor.note-frame .note-status-output .alert {
            padding: 7px 10px 2px 10px;
            margin: -7px 0 0 0;
            color: #000;
            background-color: #f5f5f5;
            border-radius: 0
        }

        .note-editor.note-frame .note-status-output .alert .note-icon {
            margin-right: 5px
        }

        .note-editor.note-frame .note-status-output .alert-success {
            color: #3c763d !important;
            background-color: #dff0d8 !important
        }

        .note-editor.note-frame .note-status-output .alert-info {
            color: #31708f !important;
            background-color: #d9edf7 !important
        }

        .note-editor.note-frame .note-status-output .alert-warning {
            color: #8a6d3b !important;
            background-color: #fcf8e3 !important
        }

        .note-editor.note-frame .note-status-output .alert-danger {
            color: #a94442 !important;
            background-color: #f2dede !important
        }

        .note-editor.note-frame .note-statusbar {}

        .note-editor.note-frame .note-statusbar .note-resizebar {
            width: 100%;
            height: 9px;
            padding-top: 1px;
            cursor: ns-resize;
            text-align: center;
        }

        .note-editor.note-frame .note-statusbar .note-resizebar .note-icon-bar {
            width: 20px;
            margin: 1px auto;
            border-top: 1px solid #a9a9a9
        }

        .note-editor.note-frame .note-statusbar.locked .note-resizebar {
            cursor: default
        }

        .note-editor.note-frame .note-statusbar.locked .note-resizebar .note-icon-bar {
            display: none
        }

        .note-editor.note-frame .note-placeholder {
            padding: 10px
        }

        .note-popover {
            max-width: none
        }

        .note-popover .note-popover-content a {
            display: inline-block;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle
        }

        .note-popover .note-popover-arrow {
            left: 20px !important
        }

        .note-popover .note-popover-content,
        .note-toolbar {
            padding: 3px 5px;
            padding-bottom: 8px;
            margin: 0;
            margin-bottom: 8px;
            background-color: #fff
        }

        .note-popover .note-popover-content>.note-btn-group,
        .note-toolbar>.note-btn-group {
            margin-top: 5px;
            margin-right: 5px;
            margin-left: 0
        }

        .note-popover .note-popover-content .note-btn-group .note-table,
        .note-toolbar .note-btn-group .note-table {
            min-width: 0;
            padding: 5px
        }

        .note-popover .note-popover-content .note-btn-group .note-table .note-dimension-picker,
        .note-toolbar .note-btn-group .note-table .note-dimension-picker {
            font-size: 18px
        }

        .note-popover .note-popover-content .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-mousecatcher,
        .note-toolbar .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-mousecatcher {
            position: absolute !important;
            z-index: 3;
            width: 10em;
            height: 10em;
            cursor: pointer
        }

        .note-popover .note-popover-content .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-unhighlighted,
        .note-toolbar .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-unhighlighted {
            position: relative !important;
            z-index: 1;
            width: 5em;
            height: 5em;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC') repeat
        }

        .note-popover .note-popover-content .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-highlighted,
        .note-toolbar .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-highlighted {
            position: absolute !important;
            z-index: 2;
            width: 1em;
            height: 1em;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC') repeat
        }

        .note-popover .note-popover-content .note-style h1,
        .note-toolbar .note-style h1,
        .note-popover .note-popover-content .note-style h2,
        .note-toolbar .note-style h2,
        .note-popover .note-popover-content .note-style h3,
        .note-toolbar .note-style h3,
        .note-popover .note-popover-content .note-style h4,
        .note-toolbar .note-style h4,
        .note-popover .note-popover-content .note-style h5,
        .note-toolbar .note-style h5,
        .note-popover .note-popover-content .note-style h6,
        .note-toolbar .note-style h6,
        .note-popover .note-popover-content .note-style blockquote,
        .note-toolbar .note-style blockquote {
            margin: 0
        }

        .note-popover .note-popover-content .note-color .dropdown-toggle,
        .note-toolbar .note-color .dropdown-toggle {
            width: 20px;
            padding-left: 5px
        }

        .note-popover .note-popover-content .note-color .note-dropdown-menu,
        .note-toolbar .note-color .note-dropdown-menu {
            min-width: 346px;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box
        }

        .note-popover .note-popover-content .note-color .note-dropdown-menu .note-palette,
        .note-toolbar .note-color .note-dropdown-menu .note-palette {
            display: inline-block;
            width: 160px;
            margin: 0
        }

        .note-popover .note-popover-content .note-color .note-dropdown-menu .note-palette:first-child,
        .note-toolbar .note-color .note-dropdown-menu .note-palette:first-child {
            margin: 0 5px;
            margin-right: 15px
        }

        .note-popover .note-popover-content .note-color .note-dropdown-menu .note-palette .note-palette-title,
        .note-toolbar .note-color .note-dropdown-menu .note-palette .note-palette-title {
            margin: 2px 7px;
            font-size: 12px;
            text-align: center;
            border-bottom: 1px solid #eee
        }

        .note-popover .note-popover-content .note-color .note-dropdown-menu .note-palette .note-color-reset,
        .note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-reset {
            width: 100%;
            padding: 2px 3px;
            margin: 3px;
            cursor: pointer;
            background-color: #fff;
            border: 0;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px
        }

        .note-popover .note-popover-content .note-color .note-dropdown-menu .note-palette .note-color-row,
        .note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-row {
            height: 20px
        }

        .note-popover .note-popover-content .note-color .note-dropdown-menu .note-palette .note-color-reset:hover,
        .note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-reset:hover {
            background: #eee
        }

        .note-popover .note-popover-content .note-para .note-dropdown-menu,
        .note-toolbar .note-para .note-dropdown-menu {
            min-width: 216px;
            padding: 5px
        }

        .note-popover .note-popover-content .note-para .note-dropdown-menu>div:first-child,
        .note-toolbar .note-para .note-dropdown-menu>div:first-child {
            margin-right: 5px
        }

        .note-popover .note-popover-content .note-btn-fontname .note-dropdown-menu,
        .note-toolbar .note-btn-fontname .note-dropdown-menu {
            min-width: 200px
        }

        .note-popover .note-popover-content .note-dropdown-menu,
        .note-toolbar .note-dropdown-menu {
            min-width: 160px
        }

        .note-popover .note-popover-content .note-dropdown-menu.right,
        .note-toolbar .note-dropdown-menu.right {
            right: 0;
            left: auto
        }

        .note-popover .note-popover-content .note-dropdown-menu.right::before,
        .note-toolbar .note-dropdown-menu.right::before {
            right: 9px;
            left: auto !important
        }

        .note-popover .note-popover-content .note-dropdown-menu.right::after,
        .note-toolbar .note-dropdown-menu.right::after {
            right: 10px;
            left: auto !important
        }

        .note-popover .note-popover-content .note-dropdown-menu.note-check .note-dropdown-item i,
        .note-toolbar .note-dropdown-menu.note-check .note-dropdown-item i {
            color: deepskyblue;
            visibility: hidden
        }

        .note-popover .note-popover-content .note-dropdown-menu.note-check .note-dropdown-item.checked i,
        .note-toolbar .note-dropdown-menu.note-check .note-dropdown-item.checked i {
            visibility: visible
        }

        .note-popover .note-popover-content .note-dropdown-menu .note-dropdown-item>*,
        .note-toolbar .note-dropdown-menu .note-dropdown-item>* {
            margin: 0
        }

        .note-popover .note-popover-content .note-fontsize-10,
        .note-toolbar .note-fontsize-10 {
            font-size: 10px
        }

        .note-popover .note-popover-content .note-color-palette,
        .note-toolbar .note-color-palette {
            line-height: 1
        }

        .note-popover .note-popover-content .note-color-palette div .note-color-btn,
        .note-toolbar .note-color-palette div .note-color-btn {
            width: 20px;
            height: 20px;
            padding: 0;
            margin: 0;
            border: 1px solid #fff
        }

        .note-popover .note-popover-content .note-color-palette div .note-color-btn:hover,
        .note-toolbar .note-color-palette div .note-color-btn:hover {
            border: 1px solid #000
        }

        .note-modal .note-modal-body label {
            display: inline-block;
            padding: 2px 5px;
            margin-bottom: 2px
        }

        .note-modal .note-modal-body .help-list-item:hover {
            background-color: #e0e0e0
        }

        @-moz-document url-prefix() {
            .note-image-input {
                height: auto
            }
        }

        .note-placeholder {
            position: absolute;
            display: none;
            color: gray
        }

        .note-handle .note-control-selection {
            position: absolute;
            display: none;
            border: 1px solid black
        }

        .note-handle .note-control-selection>div {
            position: absolute
        }

        .note-handle .note-control-selection .note-control-selection-bg {
            width: 100%;
            height: 100%;
            background-color: #000;
            -webkit-opacity: .3;
            -khtml-opacity: .3;
            -moz-opacity: .3;
            opacity: .3;
            -ms-filter: alpha(opacity=30);
            filter: alpha(opacity=30)
        }

        .note-handle .note-control-selection .note-control-handle {
            width: 7px;
            height: 7px;
            border: 1px solid #000
        }

        .note-handle .note-control-selection .note-control-holder {
            width: 7px;
            height: 7px;
            border: 1px solid #000
        }

        .note-handle .note-control-selection .note-control-sizing {
            width: 7px;
            height: 7px;
            background-color: #fff;
            border: 1px solid #000
        }

        .note-handle .note-control-selection .note-control-nw {
            top: -5px;
            left: -5px;
            border-right: 0;
            border-bottom: 0
        }

        .note-handle .note-control-selection .note-control-ne {
            top: -5px;
            right: -5px;
            border-bottom: 0;
            border-left: none
        }

        .note-handle .note-control-selection .note-control-sw {
            bottom: -5px;
            left: -5px;
            border-top: 0;
            border-right: 0
        }

        .note-handle .note-control-selection .note-control-se {
            right: -5px;
            bottom: -5px;
            cursor: se-resize
        }

        .note-handle .note-control-selection .note-control-se.note-control-holder {
            cursor: default;
            border-top: 0;
            border-left: none
        }

        .note-handle .note-control-selection .note-control-selection-info {
            right: 0;
            bottom: 0;
            padding: 5px;
            margin: 5px;
            font-size: 12px;
            color: #fff;
            background-color: #000;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-opacity: .7;
            -khtml-opacity: .7;
            -moz-opacity: .7;
            opacity: .7;
            -ms-filter: alpha(opacity=70);
            filter: alpha(opacity=70)
        }

        .note-hint-popover {
            min-width: 100px;
            padding: 2px
        }

        .note-hint-popover .note-popover-content {
            max-height: 150px;
            padding: 3px;
            overflow: auto
        }

        .note-hint-popover .note-popover-content .note-hint-group .note-hint-item {
            display: block !important;
            padding: 3px
        }

        .note-hint-popover .note-popover-content .note-hint-group .note-hint-item.active,
        .note-hint-popover .note-popover-content .note-hint-group .note-hint-item:hover {
            display: block;
            clear: both;
            font-weight: 400;
            line-height: 1.4;
            color: #fff;
            text-decoration: none;
            white-space: nowrap;
            cursor: pointer;
            background-color: #428bca;
            outline: 0
        }

        .help-list-item label {
            display: inline-block;
            margin-bottom: 5px
        }
    }
}

.note-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100)
}

.note-modal.open {
    display: block
}

.note-modal-content {
    position: relative;
    width: auto;
    margin: 30px 20px;
    background: #fff;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    outline: 0;
    background-clip: border-box
}

.note-modal-header {
    padding: 16px 24px;
    border: 1px solid #ededef;

    .icon-close {
        position: absolute;
        right: 24px;
        top: 16px;
        width: auto;
        height: auto;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        background: transparent;
        cursor: pointer;
    }
}

.note-modal-body {
    position: relative;
    padding: 16px 24px;
}

.note-modal-footer {
    padding: 16px 24px;
    padding-top: 0;
}

.note-modal-footer a {
    color: #337ab7;
    text-decoration: none
}

.note-modal-footer a:hover,
.note-modal-footer a:focus {
    color: #23527c;
    text-decoration: underline
}

.note-modal-title {
    margin: 0;
    font-size: 26px;
    line-height: 1.4;
    color: #42515f
}

.note-modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    background: #000;
    -webkit-opacity: .5;
    -khtml-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
    -ms-filter: alpha(opacity=50);
    filter: alpha(opacity=50)
}

.note-modal-backdrop.open {
    display: block
}


.note-form-group {
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.note-form-group:last-child {
    padding-bottom: 0
}

.note-icon-close:before {
    content: "\f113"
}


@media(min-width:768px) {
    .note-modal-content {
        width: 600px;
        margin: 30px auto
    }
}

@media(min-width:992px) {
    .note-modal-content-large {
        width: 900px
    }
}