.tooltipster-sidetip.tooltipster-shadow .tooltipster-box {
	border: none;
	background: fade(#3A3A3A, 80%);
	box-shadow: 0px 4px 10px rgba(58, 58, 58, 0.15);
	border-radius: 4px;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-bottom .tooltipster-box {
	margin-top: 6px
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-left .tooltipster-box {
	margin-right: 6px
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-right .tooltipster-box {
	margin-left: 6px
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-top .tooltipster-box {
	margin-bottom: 6px
}

.tooltipster-sidetip.tooltipster-shadow .tooltipster-content {
	font-size: 14px;
	line-height: 160%;
	color: #fff;
	height: 100%;
	padding: 12px 16px;
}

.tooltipster-sidetip.tooltipster-shadow .tooltipster-arrow {
	height: 6px;
	margin-left: -6px;
	width: 12px;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-shadow.tooltipster-right .tooltipster-arrow {
	height: 12px;
	margin-left: 0;
	margin-top: -6px;
	width: 6px
}

.tooltipster-sidetip.tooltipster-shadow .tooltipster-arrow-background {
	display: none
}

.tooltipster-sidetip.tooltipster-shadow .tooltipster-arrow-border {
	border: 6px solid transparent
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: fade(#3A3A3A, 80%)
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-left .tooltipster-arrow-border {
	border-left-color: fade(#3A3A3A, 80%)
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-right .tooltipster-arrow-border {
	border-right-color: fade(#3A3A3A, 80%)
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-top .tooltipster-arrow-border {
	border-top-color: fade(#3A3A3A, 80%)
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-bottom .tooltipster-arrow-uncropped {
	top: -6px
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-right .tooltipster-arrow-uncropped {
	left: -6px
}