<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row mb-3">
    <div class="col">
      <mrx-icon-button
        [iconClass]="'icon-check'"
        size="large"
        state="button"
        type="positive"
      ></mrx-icon-button>
      <mrx-icon-button
        [iconClass]="'icon-close'"
        size="large"
        state="button"
        type="negative"
      ></mrx-icon-button>
      <mrx-icon-button
        [iconClass]="'icon-plus'"
        size="large"
      ></mrx-icon-button>
    </div>
  </div>
</mrx-content-wrapper>
