.layout, .mrx-section-layout {
    .side-menu {
        display: block;
        min-width: 188px;
        will-change: min-height;
        transition: 0.3s;

        .close {
            display: none;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 14px;
            right: 14px;
            opacity: 1;
        }

        @media (max-width: 991px) {
            position: fixed !important;
            z-index: 7;
            width: 100%;
            top: 0;
            transform: translateX(-100%);
            left: 0;
            bottom: 0;
            background: fade(#3A3A3A, 50%);
            backdrop-filter: blur(2px);

            &.open {
                transform: translateX(0%);
            }

            .close {
                display: block;
            }

            .inner-wrapper-sticky {
                height: 100% !important;
                transform: initial !important;
            }
        }

        &-nav {
            display: flex;
            flex-flow: column;
            transform: translate(0, 0);
            /* For browsers don't support translate3d. */
            transform: translate3d(0, 0, 0);
            will-change: position, transform;

            @media (max-width: 991px) {
                width: calc(~"100% - 50px");
                height: 100%;
                background: #fff;
                overflow-y: auto;
            }

            &__item {
                width: 180px;
                border-right: none;
                border-bottom: solid 1px var(--Stroke);
                padding-left: 8px;
                display: flex;
                align-items: center;
                background-color: white;
                min-height: 48px;
                position: relative;
                box-shadow: 0px 2px 10px rgba(58, 58, 58, 0.1);
                transition: 0.2s;
                cursor: pointer;

                &:first-of-type {
                    border-radius: 4px 4px 0 0;
                }

                &:last-of-type {
                    border-radius: 0 0 4px 4px;
                }

                &:hover {
                    background: var(--Bg2);

                    .side-menu-nav__spin-action {
                        opacity: 1;
                    }
                }

                &.active {
                    border-left: solid 4px var(--Subsidiary);
                    padding-left: 4px;
                    background: var(--Bg2);

                    .side-menu-nav__item__name {
                        font-weight: bold;
                    }
                }

                &.with-point {
                    .side-menu-nav__item__link {
                        min-height: auto;
                    }
                }

                &__link {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 14px;
                    color: var(--Main1);
                    text-decoration: none;
                    width: 100%;
                    padding: 12px 0;

                    p {
                        margin: 0;
                    }
                }

                &__name {
                    word-break: break-word;

                    p {
                        margin: 0;
                    }
                }

                &__point {
                    font-size: 12px;
                    line-height: 16px;
                    display: flex;
                    color: var(--Stroke);
                    margin-bottom: 2px;
                    position: relative;
                    margin-left: 12px;

                    .side-menu-nav__item__name {
                        font-weight: normal !important;
                    }

                    &.active {
                        p {
                            font-weight: bold !important;
                        }
                    }

                    &.succes {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -12px;
                            line-height: 0;
                            width: 8px;
                            height: 8px;
                            border-radius: 100%;
                            overflow: hidden;
                            background: var(--Green);
                        }
                    }

                    &.gray {
                        span,p {
                            color: var(--Stroke);
                        }
                    }

                    &.refinement {
                        span {
                            color: #CB9C56;
                        }
                    }

                    &.accepted {
                        span {
                            color: var(--Green);
                        }
                    }

                    p {
                        line-height: 16px;
                        color: var(--Stroke);
                        font-size: 11px;
                    }

                    .side-menu-nav__item__link {
                        min-height: auto;
                        padding: 0 !important;
                    }
                }

                &__fill-info {
                    display: block;
                    font-size: 12px;
                }

                &.subitem {
                    width: 160px;
                    margin-left: 20px;
                }

                &.filled {
                    .side-menu-nav__item__fill-info {
                        color: var(--Subsidiary);
                    }
                }

                &.not-filled {
                    .side-menu-nav__item__fill-info {
                        color: var(--Secondary);
                    }
                }

                &.yell-filled {
                    background: var(--Disabled);

                    .side-menu-nav__item__fill-info {
                        color: var(--Yellow);
                    }
                }

                &.red-filled {
                    background: var(--Warning);

                    .side-menu-nav__item__fill-info {
                        color: var(--Red);
                    }
                }


                &.deleted {
                    background-color: var(--Disabled) !important;

                    .side-menu-nav__spin-action {
                        background: var(--Disabled);
                    }

                    .side-menu-item__name {
                        opacity: 0.5
                    }
                }

                &.setting {
                    &:hover {
                        border-left-color: var(--Main2) !important;

                        .side-menu-btn {
                            opacity: 1;
                        }
                    }

                    &.deleted {
                        .side-menu-btn {
                            &.reestablish {
                                display: flex;
                            }

                            &.hide {
                                display: none;
                            }
                        }
                    }

                    .side-menu-btn {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -14px;
                        opacity: 0;
                        transition: 0.2s;

                        &.reestablish {
                            display: none;
                        }
                    }
                }

                .small {
                    font-size: 12px;
                    color: var(--Stroke);
                }

                @media (max-width: 991px) {
                    border-top: none;
                    border-right: solid 1px var(--Stroke);
                    border-bottom: solid 1px var(--Stroke);
                    padding-left: 16px;
                    opacity: 1;
                    width: 100%;

                    &.subitem {
                        width: 100%;
                        margin: 0;
                        padding-left: 32px;

                        &.active {
                            padding-left: 28px;
                        }
                    }

                    &.active {
                        padding-left: 12px;
                    }
                }
            }

            &__add {
                border-bottom: 1px solid var(--Main2);
                display: flex;
                justify-content: center;
                width: 160px;
                margin-left: 20px;
                height: 1px;

                .side-menu-btn {
                    margin-top: -11.5px;
                }
            }

            &__spin-action {
                position: absolute;
                top: 50%;
                right: 0;
                height: 100%;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: var(--Bg2);
                padding: 2px 5px;
                transition: .2s;
                opacity: 0;

                span {
                    display: block;
                    transition: .2s;
                    background: var(--Stroke);
                    border-radius: 4px;
                    width: 22px;
                    height: 22px;
                    min-height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    svg {
                        width: 10px;
                        height: 8px;
                    }
                }
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background: #fff;
            border: 1px solid var(--Main2);
            box-shadow: 0px 0px 1px rgba(58, 58, 58, 0.25);
            border-radius: 100%;
            position: relative;
            z-index: 2;
            cursor: pointer;
        }

        &__end-icon{
            position: relative;
        
            p{
                margin-right: 25px;
            }
        
            &:after{
                display: block;      
                content: "";
                height: 16px;
                width: 16px;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);      
            }
        
            &.attention-icon{
                &:after{      
                    content: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20clip-path%3D%22url%28%23clip0_8393_35994%29%22%3E%3Cpath%20d%3D%22M8.00049%2011.863V11.2055M8.00049%209.23288V6.60274M2.37102%2014H13.63C14.6834%2014%2015.3418%2012.9041%2014.8151%2012.0274L9.18564%202.65753C8.65891%201.78082%207.34207%201.78082%206.81534%202.65753L1.18587%2012.0274C0.65914%2012.9041%201.31756%2014%202.37102%2014Z%22%20stroke%3D%22%23282828%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/g%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_8393_35994%22%3E%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22white%22/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");             
                }
            }
        }
    }
}