.page-wrapper.travel-theme {
    .mrx-modal-content{
        &.type-default{
            .mrx-modal-header {
                background: var(--neutral-bg-island-default);
                color: var(--neutral-text-primary);

                .icon-close{
                    color: var(--neutral-icon-default);
                }
            }
        }

        &.type-attention {
            .mrx-modal-header {
                background: var(--brand-bg-primary-default);
                color: var(--neutral-icon-inverse);
            }

            .mrx-btn.mrx-btn.mrx-btn-primary.mrx-btn-color-attention, 
            .mrx-btn.mrx-btn.mrx-btn-primary.yellow{
                border: var(--border-width-default) solid var(--brand-bg-primary-default);
                background-color: var(--brand-bg-primary-default);
                color: var(--neutral-text-inverse);

                &:hover, &.active {
                    background-color: var(--brand-bg-primary-hover);
                    border-color: var(--brand-bg-primary-hover);
                }    
            }

            .mrx-btn.mrx-btn.mrx-btn-secondary.mrx-btn-color-attention,
            .mrx-btn.mrx-btn.mrx-btn-secondary.yellow{
                border-color: var(--brand-bg-primary-default);
                color: var(--brand-text-controls-default);

                &:hover, &.active {
                    background-color: var(--brand-bg-tertiary-hover);
                    border-color: var(--brand-bg-primary-default);
                    color: var(--brand-text-controls-hover);
                }
            }
        }
    }
}