.mrx-tooltip-message {
  padding: 12px;
  background-color: var(--neutral-bg-inverse);
  border-radius: var(--border-radius-1);
  font-family: var(--body-sm-font-family);
  font-size: var(--body-sm-font-size);
  font-weight: 400;
  line-height: var(--body-sm-line-height);
  color: var(--neutral-text-inverse);
  z-index: 99999;
  width: max-content;

  span {
    white-space: normal;
    word-break: break-word;
  }

  &[data-popper-placement^='top'] > [data-popper-arrow] {
    bottom: -4px;
  }

  &[data-popper-placement^='bottom'] > [data-popper-arrow] {
    top: -4px;
  }

  &[data-popper-placement^='left'] > [data-popper-arrow] {
    right: -4px;
  }

  &[data-popper-placement^='right'] > [data-popper-arrow] {
    left: -4px;
  }

  [data-popper-arrow] {
    visibility: hidden;
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }
  [data-popper-arrow]::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
    transform: rotate(45deg);
    visibility: visible;
  }
}
