@import "../Common/Shared/Styles/myrtex-lib/components/badge/badge";
@import "../Common/Shared/Styles/myrtex-lib/components/badge/badge-group";
@import "../Common/Shared/Styles/myrtex-lib/components/badge/badge-types";
@import "../Common/Shared/Styles/myrtex-lib/components/badge/badge-tag";
@import "../Common/Shared/Styles/myrtex-lib/components/badge/badge-colors";

@import "../Common/Shared/Styles/myrtex-lib/components/breadcrumbs/breadcrumbs";

@import "../Common/Shared/Styles/myrtex-lib/components/label/label";

@import "../Common/Shared/Styles/myrtex-lib/components/checkbox/checkbox";
@import "../Common/Shared/Styles/myrtex-lib/components/checkbox/checkbox-input";
@import "../Common/Shared/Styles/myrtex-lib/components/checkbox/checkbox-label";
@import "../Common/Shared/Styles/myrtex-lib/components/checkbox/checkbox-mark";
@import "../Common/Shared/Styles/myrtex-lib/components/checkbox/checkbox-wrapper";
@import "../Common/Shared/Styles/myrtex-lib/components/checkbox/checkbox-indeterminate";
@import "../Common/Shared/Styles/myrtex-lib/components/checkbox/checkbox-error";

@import "../Common/Shared/Styles/myrtex-lib/components/radio/radio";
@import "../Common/Shared/Styles/myrtex-lib/components/radio/radio-input";
@import "../Common/Shared/Styles/myrtex-lib/components/radio/radio-label";
@import "../Common/Shared/Styles/myrtex-lib/components/radio/radio-mark";
@import "../Common/Shared/Styles/myrtex-lib/components/radio/radio-wrapper";
@import "../Common/Shared/Styles/myrtex-lib/components/radio/radio-error";

@import "../Common/Shared/Styles/myrtex-lib/components/tooltip/tooltip";
@import "../Common/Shared/Styles/myrtex-lib/components/tooltip/tooltip-trigger";
@import "../Common/Shared/Styles/myrtex-lib/components/tooltip/tooltip-trigger-right";
@import "../Common/Shared/Styles/myrtex-lib/components/tooltip/tooltip-trigger-top";

@import "../Common/Shared/Styles/myrtex-lib/components/button/button";
@import "../Common/Shared/Styles/myrtex-lib/components/button/button-primary";
@import "../Common/Shared/Styles/myrtex-lib/components/button/button-secondary";
@import "../Common/Shared/Styles/myrtex-lib/components/button/button-tertiary";
@import "../Common/Shared/Styles/myrtex-lib/components/button/button-disabled";
@import "../Common/Shared/Styles/myrtex-lib/components/button/button-colors";
@import "../Common/Shared/Styles/myrtex-lib/components/button/button-with-icon";
@import "../Common/Shared/Styles/myrtex-lib/components/button/button-icon-loading";
@import "../Common/Shared/Styles/myrtex-lib/components/button/button-sizes";

@import "../Common/Shared/Styles/myrtex-lib/components/switch/switch";
@import "../Common/Shared/Styles/myrtex-lib/components/switch/switch-label";
@import "../Common/Shared/Styles/myrtex-lib/components/switch/switch-sizes";
@import "../Common/Shared/Styles/myrtex-lib/components/switch/switch-types";

//@import "../../../RosGrant.Common/Shared/Styles/myrtex-mf-ui/components/input-phone/input-phone";
//@import "../../../RosGrant.Common/Shared/Styles/myrtex-mf-ui/components/input-phone/input-phone-sizes";
//@import "../../../RosGrant.Common/Shared/Styles/myrtex-mf-ui/components/input-phone/input-phone-search";
//@import "../../../RosGrant.Common/Shared/Styles/myrtex-mf-ui/components/input-phone/input-phone-error";
//@import "../../../RosGrant.Common/Shared/Styles/myrtex-mf-ui/components/input-phone/intl-tel-input";

@import "../Common/Shared/Styles/myrtex-lib/components/editor/editor";
@import "../Common/Shared/Styles/myrtex-lib/components/editor/editor-icons";
@import "../Common/Shared/Styles/myrtex-lib/components/editor/editor-error";
@import "../Common/Shared/Styles/myrtex-lib/components/editor/editor-disabled";
@import "../Common/Shared/Styles/myrtex-lib/components/editor/editor-borders";

@import "../Common/Shared/Styles/myrtex-lib/components/paginator/paginator";
@import "../Common/Shared/Styles/myrtex-lib/components/paginator/paginator-select";
@import "../Common/Shared/Styles/myrtex-lib/components/paginator/paginator-types";

@import "../Common/Shared/Styles/myrtex-lib/components/table/table";
@import "../Common/Shared/Styles/myrtex-lib/components/table/table-types";
@import "../Common/Shared/Styles/myrtex-lib/components/table/table-empty-message";
@import "../Common/Shared/Styles/myrtex-lib/components/table/table-sort-select";
@import "../Common/Shared/Styles/myrtex-lib/components/table/table-striped";
@import "../Common/Shared/Styles/myrtex-lib/components/table/table-download";
@import "../Common/Shared/Styles/myrtex-lib/components/table/table-counter";
@import "../Common/Shared/Styles/myrtex-lib/components/table/table-paginator";
@import "../Common/Shared/Styles/myrtex-lib/components/table/table-toggle";
@import "../Common/Shared/Styles/myrtex-lib/components/table/table-overlay";

@import "../Common/Shared/Styles/myrtex-lib/components/chars/chars";

@import "../Common/Shared/Styles/myrtex-lib/components/select/select";
@import "../Common/Shared/Styles/myrtex-lib/components/select/select-dropdown";
@import "../Common/Shared/Styles/myrtex-lib/components/select/select-error";

@import "../Common/Shared/Styles/myrtex-lib/components/datepicker/input-datepicker";
@import "../Common/Shared/Styles/myrtex-lib/components/datepicker/input-datepicker-error";
@import "../Common/Shared/Styles/myrtex-lib/components/datepicker/air-datepicker";
@import "../Common/Shared/Styles/myrtex-lib/components/datepicker/input-datepicker-sizes";
@import "../Common/Shared/Styles/myrtex-lib/components/datepicker/input-datepicker-icons";

@import "../Common/Shared/Styles/myrtex-lib/components/date/input-date";
@import "../Common/Shared/Styles/myrtex-lib/components/date/input-date-sizes";
@import "../Common/Shared/Styles/myrtex-lib/components/date/input-date-error";
@import "../Common/Shared/Styles/myrtex-lib/components/date/input-date-icons";

@import "../Common/Shared/Styles/myrtex-lib/components/input-search/input-search";
@import "../Common/Shared/Styles/myrtex-lib/components/input-search/input-search-sizes";
@import "../Common/Shared/Styles/myrtex-lib/components/input-search/input-search-error";
@import "../Common/Shared/Styles/myrtex-lib/components/input-search/input-search-icons";

@import "../Common/Shared/Styles/myrtex-lib/components/input-number/input-number";
@import "../Common/Shared/Styles/myrtex-lib/components/input-number/input-number-sizes";
@import "../Common/Shared/Styles/myrtex-lib/components/input-number/input-number-error";

@import "../Common/Shared/Styles/myrtex-lib/components/input-text/input-text";
@import "../Common/Shared/Styles/myrtex-lib/components/input-text/input-text-sizes";
@import "../Common/Shared/Styles/myrtex-lib/components/input-text/input-text-error";

@import "../Common/Shared/Styles/myrtex-lib/components/input-textarea/input-textarea";
@import "../Common/Shared/Styles/myrtex-lib/components/input-textarea/input-textarea-sizes";
@import "../Common/Shared/Styles/myrtex-lib/components/input-textarea/input-textarea-error";
@import "../Common/Shared/Styles/myrtex-lib/components/input-textarea/input-textarea-disabled-block";

@import "../Common/Shared/Styles/myrtex-lib/components/input-image/input-image-preview";
@import "../Common/Shared/Styles/myrtex-lib/components/input-image/input-image-cropper";
@import "../Common/Shared/Styles/myrtex-lib/components/input-image/input-image-modal";

@import "../Common/Shared/Styles/myrtex-lib/components/input-file/input-file";

@import "../Common/Shared/Styles/myrtex-lib/components/dropdown/dropdown";
@import "../Common/Shared/Styles/myrtex-lib/components/dropdown/dropdown-menu";
@import "../Common/Shared/Styles/myrtex-lib/components/dropdown/dropdown-toggle";

@import "../Common/Shared/Styles/myrtex-lib/components/link/link";
@import "../Common/Shared/Styles/myrtex-lib/components/link/link-monochrome";

@import "../Common/Shared/Styles/myrtex-lib/components/tabs/tabs-group";
@import "../Common/Shared/Styles/myrtex-lib/components/tabs/tab";
@import "../Common/Shared/Styles/myrtex-lib/components/tabs/tabs-size";
@import "../Common/Shared/Styles/myrtex-lib/components/tabs/tabs-button";
@import "../Common/Shared/Styles/myrtex-lib/components/tabs/tabs-types";

@import "../Common/Shared/Styles/myrtex-lib/components/progress/progress";
@import "../Common/Shared/Styles/myrtex-lib/components/progress/progress-color";

@import "../Common/Shared/Styles/myrtex-lib/components/stepper/stepper";

@import "../Common/Shared/Styles/myrtex-lib/components/alert/alert";
@import "../Common/Shared/Styles/myrtex-lib/components/alert/alert-colors";

@import "../Common/Shared/Styles/myrtex-lib/components/hint-error-message/hint-error-message";

@import "../Common/Shared/Styles/myrtex-lib/components/popper-tooltip/popper-tooltip";

@import "../Common/Shared/Styles/myrtex-lib/components/loader/loader";
@import "../Common/Shared/Styles/myrtex-lib/components/loader/loader-color";
@import "../Common/Shared/Styles/myrtex-lib/components/loader/loader-sizes";

@import "../Common/Shared/Styles/myrtex-widgets/anti-plagiarism/anti-plagiarism";

// WRAPPERS
@import "../Common/Shared/Styles/myrtex-lib/components/wrappers/content-wrapper/content-wrapper";

@import "../Common/Shared/Styles/myrtex-lib/components/wrappers/content-title-wrapper/content-title-wrapper";

@import "../Common/Shared/Styles/myrtex-lib/components/wrappers/controls-wrapper/controls-wrapper";

@import "../Common/Shared/Styles/myrtex-lib/components/modal/modal";
@import "../Common/Shared/Styles/myrtex-lib/components/modal/modal-body";
@import "../Common/Shared/Styles/myrtex-lib/components/modal/modal-header";
@import "../Common/Shared/Styles/myrtex-lib/components/modal/modal-footer";
@import "../Common/Shared/Styles/myrtex-lib/components/modal/modal-sizes";
@import "../Common/Shared/Styles/myrtex-lib/components/modal/modal-colors";
@import "../Common/Shared/Styles/myrtex-lib/components/modal/modal-animations";

@import "UI/CommonVariables";
@import "UI/cards/news-card";
@import "UI/cards/manual-notification-card";
@import "UI/badges/tags";

@import "../Common/Shared/Styles/Modules/IconFont/icon";

.cdk-overlay-container,.cdk-global-overlay-wrapper{pointer-events:none;top:0;left:0;height:100%;width:100%}.cdk-overlay-container{position:fixed;z-index:1000}.cdk-overlay-container:empty{display:none}.cdk-global-overlay-wrapper{display:flex;position:absolute;z-index:1000}.cdk-overlay-pane{position:absolute;pointer-events:auto;box-sizing:border-box;z-index:1000;display:flex;max-width:100%;max-height:100%}.cdk-overlay-backdrop{position:absolute;top:0;bottom:0;left:0;right:0;z-index:1000;pointer-events:auto;-webkit-tap-highlight-color:transparent;transition:opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);opacity:0}.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{opacity:1}.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing{opacity:.6}.cdk-overlay-dark-backdrop{background:rgba(0,0,0,.32)}.cdk-overlay-transparent-backdrop{transition:visibility 1ms linear,opacity 1ms linear;visibility:hidden;opacity:1}.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing{opacity:0;visibility:visible}.cdk-overlay-connected-position-bounding-box{position:absolute;z-index:1000;display:flex;flex-direction:column;min-width:1px;min-height:1px}.cdk-global-scrollblock{position:fixed;width:100%;overflow-y:scroll}

