<mrx-content-wrapper type="colored" customClasses="mb-3">
  <div class="row mb-5">
    <div class="col">
      <mrx-label>Ссылка Назад</mrx-label>
      <mrx-breadcrumbs type="link" [item]="item"></mrx-breadcrumbs>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <mrx-label>Ссылка Назад с стрелкой</mrx-label>
      <mrx-breadcrumbs type="link" [item]="itemWithArrow"></mrx-breadcrumbs>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mrx-label>Хлебные крошки</mrx-label>
      <mrx-breadcrumbs type="default" [items]="items"></mrx-breadcrumbs>
    </div>
  </div>
</mrx-content-wrapper>
