.page-wrapper.minfin-theme {

    .project__cards,
    .news,
    .news-info,
    .event,
    .event-info,
    .project__present,
    .project__item,
    .grant-operator,
    .hmao-contests,
    .documents,
    .hmao-teaching-materials,
    .faq,
    .hmao-structure,
    .hmao-leaders,
    .hmao-requisites,
    .contact,
    .hmao-supervisor,
    .hmao-expert-council,
    .hmao-coordination-council,
    .hmao-contest-direction,
    .asi-contests {

        .content__title {
            border: none;
        }

        .divider {
            background: transparent;
        }
    }

    // ------------File-input------------

    .new-custom-file-input {        
        &__item {
            &:hover {
                .qq-file-name {
                    &:before {
                        content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 9H19.75V8.68934L19.5303 8.46967L19 9ZM13 3L13.5303 2.46967L13.3107 2.25H13V3ZM13 9H12.25V9.75H13V9ZM4.25 4V20H5.75V4H4.25ZM6 21.75H18V20.25H6V21.75ZM19.75 20V9H18.25V20H19.75ZM19.5303 8.46967L13.5303 2.46967L12.4697 3.53033L18.4697 9.53033L19.5303 8.46967ZM13 2.25H6V3.75H13V2.25ZM13.75 9V3H12.25V9H13.75ZM13 9.75H19V8.25H13V9.75ZM18 21.75C18.9665 21.75 19.75 20.9665 19.75 20H18.25C18.25 20.1381 18.1381 20.25 18 20.25V21.75ZM4.25 20C4.25 20.9665 5.0335 21.75 6 21.75V20.25C5.86193 20.25 5.75 20.1381 5.75 20H4.25ZM5.75 4C5.75 3.86193 5.86193 3.75 6 3.75V2.25C5.0335 2.25 4.25 3.0335 4.25 4H5.75Z' fill='%230090D4'/%3E%3C/svg%3E%0A") !important;
                    }
                }
            }
        }
    }

    // ------------File-input------------

    .telerik-link {
        color: var(--Subsidiary);
    }

    .footer-wrapper {
        .footer {
            background: var(--Main2); // По просьбе заказчика замененно, должно быть Subsidiary
        }

        .footer__copyright-text {
            color: #fff;
            font-size: 16px;
            opacity: 1;
        }
    }

    .ng-select {
        &.ng-select-multiple {
            .ng-select-container {
                .ng-value-container {
                    .ng-value {
                        .ng-value-label {
                            color: var(--Main1);
                        }
                    }
                }
            }
        }
    }

    //modal
    .modal-header {
        .modal-title{
            font-family: 'PT Sans Caption',sans-serif;
        }
    }

    .layout, .mrx-section-layout {
        //side-menu-nav
        .side-menu-nav__item{
            &.active{
                border-left: solid 4px var(--Main2);
            }
        }
    }  
    
    .page-sidebar-menu{
        .accordion-menu{
            li{
                &.active{
                    &.active-revert{
                        &>a{
                            border-left-color: transparent;
                            background-color: transparent;
                        }
                    }                    
                }
            }            
        }
    } 
}