//цвет прогресса
.mrx-progress.mrx-progress {
  &.mrx-progress-default {
    .mrx-progress-bar {
      background-color: var(--brand-bg-primary-default);
    }
  }

  &.mrx-progress-success {
    .mrx-progress-bar {
      background-color: var(--system-bg-controls-positive-default);
    }
  }

  &.mrx-progress-danger {
    .mrx-progress-bar {
      background-color: var(--system-bg-controls-negative-default);
    }
  }

  &.mrx-progress-warning {
    .mrx-progress-bar {
      background-color: var(--system-bg-controls-attention-default);
    }
  }
}
