.mrx-progress.mrx-progress {
  height: var(--sizing-3);
  width: 100%;
  background-color: var(--neutral-bg-island-default);
  border-radius: var(--border-radius-helf);

  .mrx-progress-bar {
    height: var(--sizing-3);
    border-radius: var(--border-radius-helf);
    transition: width .2s;
  }      
}
